In [19]:
import pandas as pd
import numpy as np

df = pd.read_csv("./TREE2_Data_IWI_Open_Data_Vorlesung_2023_nolabel.csv")

df = df[df['t1bqvalids'] != 'No valid response']
df = df[df['t2bqvalids'] != 'No valid response']
df = df[df['t3bqvalids'] != 'No valid response']



df = df.dropna()
df

,resp_id,aes_canton,aes_langreg,t0sex,t0fmedu_comp,t0immig,t1bqvalids,t2bqvalids,t3bqvalids,t1wt,t2wt,t3wt,t0hisei08_3q,t0wlem_3q,t0st_nprog_req3,t1educ_class_1_r,t2educ_class_1_r,t3educ_class_1_r
1,1011011,10,2,1,1.0,3.0,1,1,1,4.959451,5.249187,4.995442,3.0,2.0,3,4.0,6.0,6.0
3,1011013,11,1,1,1.0,1.0,1,1,1,9.184840,9.340135,13.201428,1.0,1.0,3,5.0,5.0,1.0
6,1011020,15,1,1,1.0,1.0,1,1,1,0.612540,0.618889,0.562086,2.0,2.0,2,7.0,7.0,7.0
7,1011021,10,1,1,1.0,1.0,1,1,1,10.286020,14.506459,10.028031,1.0,1.0,2,6.0,6.0,6.0
8,1011027,10,1,2,1.0,1.0,1,1,1,2.655471,2.107327,2.090831,3.0,2.0,2,9.0,9.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8420,9013468,22,2,2,0.0,1.0,1,1,1,25.769896,21.778278,25.796507,1.0,3.0,2,6.0,6.0,6.0
8422,9013470,13,1,1,1.0,1.0,1,1,1,16.157314,12.532774,14.420422,2.0,2.0,2,9.0,9.0,9.0
8424,9013473,11,1,1,2.0,1.0,1,1,1,3.224725,3.078186,3.158450,3.0,3.0,2,9.0,9.0,9.0
8425,9013481,11,1,2,1.0,1.0,1,1,1,13.392653,11.988625,12.152623,2.0,3.0,3,6.0,6.0,6.0
8427,9013497,21,3,1,2.0,1.0,1,1,1,9.101303,19.132431,11.100303,2.0,3.0,1,2.0,2.0,7.0

In [20]:
df.to_csv("currated_data.csv", index=False)

In [21]:
pd.read_csv("./currated_data.csv")

,resp_id,aes_canton,aes_langreg,t0sex,t0fmedu_comp,t0immig,t1bqvalids,t2bqvalids,t3bqvalids,t1wt,t2wt,t3wt,t0hisei08_3q,t0wlem_3q,t0st_nprog_req3,t1educ_class_1_r,t2educ_class_1_r,t3educ_class_1_r
0,1011011,10,2,1,1.0,3.0,1,1,1,4.959451,5.249187,4.995442,3.0,2.0,3,4.0,6.0,6.0
1,1011013,11,1,1,1.0,1.0,1,1,1,9.184840,9.340135,13.201428,1.0,1.0,3,5.0,5.0,1.0
2,1011020,15,1,1,1.0,1.0,1,1,1,0.612540,0.618889,0.562086,2.0,2.0,2,7.0,7.0,7.0
3,1011021,10,1,1,1.0,1.0,1,1,1,10.286020,14.506459,10.028031,1.0,1.0,2,6.0,6.0,6.0
4,1011027,10,1,2,1.0,1.0,1,1,1,2.655471,2.107327,2.090831,3.0,2.0,2,9.0,9.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5266,9013468,22,2,2,0.0,1.0,1,1,1,25.769896,21.778278,25.796507,1.0,3.0,2,6.0,6.0,6.0
5267,9013470,13,1,1,1.0,1.0,1,1,1,16.157314,12.532774,14.420422,2.0,2.0,2,9.0,9.0,9.0
5268,9013473,11,1,1,2.0,1.0,1,1,1,3.224725,3.078186,3.158450,3.0,3.0,2,9.0,9.0,9.0
5269,9013481,11,1,2,1.0,1.0,1,1,1,13.392653,11.988625,12.152623,2.0,3.0,3,6.0,6.0,6.0
5270,9013497,21,3,1,2.0,1.0,1,1,1,9.101303,19.132431,11.100303,2.0,3.0,1,2.0,2.0,7.0