In [19]:
import pandas as pd
import numpy as np

merged_df = pd.read_csv("./study-data/TREE2_Data_IWI_Open_Data_Vorlesung_2023_nolabel.csv")

merged_df = merged_df[merged_df['t1bqvalids'] != 'No valid response']
merged_df = merged_df[merged_df['t2bqvalids'] != 'No valid response']
merged_df = merged_df[merged_df['t3bqvalids'] != 'No valid response']



merged_df = merged_df.dropna()
merged_df

,resp_id,aes_canton,aes_langreg,t0sex,t0fmedu_comp,t0immig,t1bqvalids,t2bqvalids,t3bqvalids,t1wt,t2wt,t3wt,t0hisei08_3q,t0wlem_3q,t0st_nprog_req3,t1educ_class_1_r,t2educ_class_1_r,t3educ_class_1_r
1,1011011,10,2,1,1.0,3.0,1,1,1,4.959451,5.249187,4.995442,3.0,2.0,3,4.0,6.0,6.0
3,1011013,11,1,1,1.0,1.0,1,1,1,9.184840,9.340135,13.201428,1.0,1.0,3,5.0,5.0,1.0
6,1011020,15,1,1,1.0,1.0,1,1,1,0.612540,0.618889,0.562086,2.0,2.0,2,7.0,7.0,7.0
7,1011021,10,1,1,1.0,1.0,1,1,1,10.286020,14.506459,10.028031,1.0,1.0,2,6.0,6.0,6.0
8,1011027,10,1,2,1.0,1.0,1,1,1,2.655471,2.107327,2.090831,3.0,2.0,2,9.0,9.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8420,9013468,22,2,2,0.0,1.0,1,1,1,25.769896,21.778278,25.796507,1.0,3.0,2,6.0,6.0,6.0
8422,9013470,13,1,1,1.0,1.0,1,1,1,16.157314,12.532774,14.420422,2.0,2.0,2,9.0,9.0,9.0
8424,9013473,11,1,1,2.0,1.0,1,1,1,3.224725,3.078186,3.158450,3.0,3.0,2,9.0,9.0,9.0
8425,9013481,11,1,2,1.0,1.0,1,1,1,13.392653,11.988625,12.152623,2.0,3.0,3,6.0,6.0,6.0
8427,9013497,21,3,1,2.0,1.0,1,1,1,9.101303,19.132431,11.100303,2.0,3.0,1,2.0,2.0,7.0

In [20]:
merged_df.to_csv("currated_data.csv", index=False)

In [21]:
pd.read_csv("./study-data/currated_data.csv")

,resp_id,aes_canton,aes_langreg,t0sex,t0fmedu_comp,t0immig,t1bqvalids,t2bqvalids,t3bqvalids,t1wt,t2wt,t3wt,t0hisei08_3q,t0wlem_3q,t0st_nprog_req3,t1educ_class_1_r,t2educ_class_1_r,t3educ_class_1_r
0,1011011,10,2,1,1.0,3.0,1,1,1,4.959451,5.249187,4.995442,3.0,2.0,3,4.0,6.0,6.0
1,1011013,11,1,1,1.0,1.0,1,1,1,9.184840,9.340135,13.201428,1.0,1.0,3,5.0,5.0,1.0
2,1011020,15,1,1,1.0,1.0,1,1,1,0.612540,0.618889,0.562086,2.0,2.0,2,7.0,7.0,7.0
3,1011021,10,1,1,1.0,1.0,1,1,1,10.286020,14.506459,10.028031,1.0,1.0,2,6.0,6.0,6.0
4,1011027,10,1,2,1.0,1.0,1,1,1,2.655471,2.107327,2.090831,3.0,2.0,2,9.0,9.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5266,9013468,22,2,2,0.0,1.0,1,1,1,25.769896,21.778278,25.796507,1.0,3.0,2,6.0,6.0,6.0
5267,9013470,13,1,1,1.0,1.0,1,1,1,16.157314,12.532774,14.420422,2.0,2.0,2,9.0,9.0,9.0
5268,9013473,11,1,1,2.0,1.0,1,1,1,3.224725,3.078186,3.158450,3.0,3.0,2,9.0,9.0,9.0
5269,9013481,11,1,2,1.0,1.0,1,1,1,13.392653,11.988625,12.152623,2.0,3.0,3,6.0,6.0,6.0
5270,9013497,21,3,1,2.0,1.0,1,1,1,9.101303,19.132431,11.100303,2.0,3.0,1,2.0,2.0,7.0

In [9]:
pd.read_csv("./study-data/TREE2_Data_IWI_Open_Data_Vorlesung_2023_label.csv")

,resp_id,aes_canton,aes_langreg,t0sex,t0fmedu_comp,t0immig,t1bqvalids,t2bqvalids,t3bqvalids,t1wt,t2wt,t3wt,t0hisei08_3q,t0wlem_3q,t0st_nprog_req3,t1educ_class_1_r,t2educ_class_1_r,t3educ_class_1_r
0,1011007,Schaffhausen (SH),German,Male,Upper secondary education,Native (at least 1 parent born in Switzerland),Valid response,No valid response,No valid response,0.018611,NaN,NaN,Medium,Medium,Advanced requirements & Alternative/non-assign...,3-4 years VET,NaN,NaN
1,1011011,Fribourg (FR),French,Female,Upper secondary education,First generation (respondent and parent(s) bor...,Valid response,Valid response,Valid response,4.959451,5.249187,4.995442,High,Medium,Basic/low requirements,Other intermediate solution,3-4 years VET,3-4 years VET
2,1011012,Uri (UR),German,Female,Tertiary education,Native (at least 1 parent born in Switzerland),Valid response,Valid response,No valid response,1.117837,1.230214,NaN,Medium,Medium,Advanced requirements & Alternative/non-assign...,Vocational baccalaureate //VET,Vocational baccalaureate //VET,NaN
3,1011013,Solothurn (SO),German,Female,Upper secondary education,Native (at least 1 parent born in Switzerland),Valid response,Valid response,Valid response,9.184840,9.340135,13.201428,Low,Low,Basic/low requirements,2 years VET,2 years VET,NET
4,1011017,Schwyz (SZ),German,Female,Compulsory schooling only,Native (at least 1 parent born in Switzerland),Valid response,Valid response,No valid response,4.415709,3.592895,NaN,Low,Low,Basic/low requirements,3-4 years VET,3-4 years VET,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8424,9013473,Solothurn (SO),German,Female,Tertiary education,Native (at least 1 parent born in Switzerland),Valid response,Valid response,Valid response,3.224725,3.078186,3.158450,High,High,Advanced requirements & Alternative/non-assign...,Other general education programme (specialized...,Other general education programme (specialized...,Other general education programme (specialized...
8425,9013481,Solothurn (SO),German,Male,Upper secondary education,Native (at least 1 parent born in Switzerland),Valid response,Valid response,Valid response,13.392653,11.988625,12.152623,Medium,High,Basic/low requirements,3-4 years VET,3-4 years VET,3-4 years VET
8426,9013488,Zurich (ZH),German,Female,Upper secondary education,Native (at least 1 parent born in Switzerland),Valid response,Valid response,No valid response,12.473951,10.524038,NaN,Low,Low,Basic/low requirements,Internship,3-4 years VET,NaN
8427,9013497,Ticino (TI),Italian,Female,Tertiary education,Native (at least 1 parent born in Switzerland),Valid response,Valid response,Valid response,9.101303,19.132431,11.100303,Medium,High,High requirements,Internship,Internship,Vocational baccalaureate //VET
8428,9013499,Thurgau (TG),German,Male,NaN,Native (at least 1 parent born in Switzerland),Valid response,Valid response,Valid response,6.598321,6.355939,4.833821,Medium,Low,Basic/low requirements,3-4 years VET,3-4 years VET,NET

In [13]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.14.4-py3-none-any.whl.metadata (1.5 kB)
Collecting fiona>=1.8.21 (from geopandas)
  Downloading fiona-1.9.6-cp311-cp311-win_amd64.whl.metadata (51 kB)
     ---------------------------------------- 0.0/51.5 kB ? eta -:--:--
     --------------- ---------------------- 20.5/51.5 kB 682.7 kB/s eta 0:00:01
     -------------------------------------- 51.5/51.5 kB 666.1 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.22 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (1.26.4)
Requirement already satisfied: packaging in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (24.0)
Requirement already satisfied: pandas>=1.4.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (2.2.1)
Collecting pyproj>=3.3.0 (from geopandas)
  Downloading pyproj-3.6.1-cp311-cp311-win_amd64.whl.metadata (31 kB)
Collecting shapely>=1.8.0 (from geopandas)
  Downloading shapely-2.0.4-cp311-cp311-win_amd64.whl.metadata (7.2 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (23.2.0)
Requirement already satisfied: certifi in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (2024.2.2)
Requirement already satisfied: click~=8.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (8.1.7)
Collecting click-plugins>=1.0 (from fiona>=1.8.21->geopandas)
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl.metadata (6.4 kB)
Collecting cligj>=0.5 (from fiona>=1.8.21->geopandas)
  Downloading cligj-0.7.2-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: six in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: colorama in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from click~=8.0->fiona>=1.8.21->geopandas) (0.4.6)
Downloading geopandas-0.14.4-py3-none-any.whl (1.1 MB)
   ---------------------------------------- 0.0/1.1 MB ? eta -:--:--
   --- ------------------------------------ 0.1/1.1 MB 2.6 MB/s eta 0:00:01
   ------------ --------------------------- 0.3/1.1 MB 4.2 MB/s eta 0:00:01
   --------------------------- ------------ 0.8/1.1 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------- 1.1/1.1 MB 7.0 MB/s eta 0:00:00
Downloading fiona-1.9.6-cp311-cp311-win_amd64.whl (22.9 MB)
   ---------------------------------------- 0.0/22.9 MB ? eta -:--:--
   -- ------------------------------------- 1.3/22.9 MB 27.2 MB/s eta 0:00:01
   ---- ----------------------------------- 2.3/22.9 MB 24.4 MB/s eta 0:00:01
   ----- ---------------------------------- 3.0/22.9 MB 21.3 MB/s eta 0:00:01
   ------- -------------------------------- 4.3/22.9 MB 22.8 MB/s eta 0:00:01
   --------- ------------------------------ 5.6/22.9 MB 24.0 MB/s eta 0:00:01
   ----------- ---------------------------- 6.6/22.9 MB 23.4 MB/s eta 0:00:01
   -------------- ------------------------- 8.0/22.9 MB 24.5 MB/s eta 0:00:01
   ---------------- ----------------------- 9.4/22.9 MB 25.1 MB/s eta 0:00:01
   ------------------ --------------------- 10.5/22.9 MB 25.1 MB/s eta 0:00:01
   -------------------- ------------------- 11.9/22.9 MB 25.1 MB/s eta 0:00:01
   ----------------------- ---------------- 13.6/22.9 MB 28.5 MB/s eta 0:00:01
   -------------------------- ------------- 15.4/22.9 MB 29.8 MB/s eta 0:00:01
   --------------------------- ------------ 16.0/22.9 MB 28.5 MB/s eta 0:00:01
   ------------------------------ --------- 17.6/22.9 MB 28.5 MB/s eta 0:00:01
   --------------------------------- ------ 19.0/22.9 MB 28.5 MB/s eta 0:00:01
   ------------------------------------ --- 20.8/22.9 MB 31.2 MB/s eta 0:00:01
   -------------------------------------- - 22.1/22.9 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------  22.9/22.9 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------- 22.9/22.9 MB 28.4 MB/s eta 0:00:00
Downloading pyproj-3.6.1-cp311-cp311-win_amd64.whl (6.1 MB)
   ---------------------------------------- 0.0/6.1 MB ? eta -:--:--
   --------- ------------------------------ 1.5/6.1 MB 31.4 MB/s eta 0:00:01
   ---------------------- ----------------- 3.4/6.1 MB 35.6 MB/s eta 0:00:01
   -------------------------------- ------- 4.9/6.1 MB 34.9 MB/s eta 0:00:01
   ---------------------------------------- 6.1/6.1 MB 35.3 MB/s eta 0:00:00
Downloading shapely-2.0.4-cp311-cp311-win_amd64.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 1.4/1.4 MB 30.4 MB/s eta 0:00:00
Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Installing collected packages: shapely, pyproj, cligj, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.6 geopandas-0.14.4 pyproj-3.6.1 shapely-2.0.4

In [50]:
import pandas as pd
import geopandas as gpd
import numpy as np
import json

def setEdj(df: pd.DataFrame, key) -> None :
    df.loc[df[key].isin(['5', '6', '7']), key] = 'VET'
    df.loc[df[key].isin(['8', '9']), key] = 'GE'
    df.loc[df[key].isin(['2', '3', '4']), key] = 'IS'
    df.loc[df[key].isin(['1']), key] = 'NET'

In [51]:
merged_df = pd.read_csv("./study-data/TREE2_Data_IWI_Open_Data_Vorlesung_2023_nolabel.csv")

merged_df = merged_df[merged_df['t1bqvalids'] != 'No valid response']
merged_df = merged_df[merged_df['t2bqvalids'] != 'No valid response']
merged_df = merged_df[merged_df['t3bqvalids'] != 'No valid response']

merged_df.dropna(inplace=True)
merged_df['t1educ_class_1_r'] = merged_df['t1educ_class_1_r'].astype(int).astype(str)
merged_df['t2educ_class_1_r'] = merged_df['t2educ_class_1_r'].astype(int).astype(str)
merged_df['t3educ_class_1_r'] = merged_df['t3educ_class_1_r'].astype(int).astype(str)


setEdj(merged_df, 't1educ_class_1_r')
setEdj(merged_df, 't2educ_class_1_r')
setEdj(merged_df, 't3educ_class_1_r')

cols = ['resp_id', 'aes_canton', 'aes_langreg', 't1wt', 't2wt', 't3wt', 't1educ_class_1_r', 't2educ_class_1_r', 't3educ_class_1_r']

merged_df = merged_df[cols]

merged_df

,resp_id,aes_canton,aes_langreg,t1wt,t2wt,t3wt,t1educ_class_1_r,t2educ_class_1_r,t3educ_class_1_r
1,1011011,10,2,4.959451,5.249187,4.995442,IS,VET,VET
3,1011013,11,1,9.184840,9.340135,13.201428,VET,VET,NET
6,1011020,15,1,0.612540,0.618889,0.562086,VET,VET,VET
7,1011021,10,1,10.286020,14.506459,10.028031,VET,VET,VET
8,1011027,10,1,2.655471,2.107327,2.090831,GE,GE,GE
...,...,...,...,...,...,...,...,...,...
8420,9013468,22,2,25.769896,21.778278,25.796507,VET,VET,VET
8422,9013470,13,1,16.157314,12.532774,14.420422,GE,GE,GE
8424,9013473,11,1,3.224725,3.078186,3.158450,GE,GE,GE
8425,9013481,11,1,13.392653,11.988625,12.152623,VET,VET,VET
8427,9013497,21,3,9.101303,19.132431,11.100303,IS,IS,VET

In [52]:
# Grouping data by canton and education type and calculating the weighted count
w1_cantons = merged_df.groupby(['aes_canton', 't1educ_class_1_r']).apply(
    lambda x: (x['t1wt']).sum()).reset_index(name='w1_weighted_count')

w2_cantons = merged_df.groupby(['aes_canton', 't2educ_class_1_r']).apply(
    lambda x: (x['t1wt']).sum()).reset_index(name='w2_weighted_count')

w3_cantons = merged_df.groupby(['aes_canton', 't3educ_class_1_r']).apply(
    lambda x: (x['t1wt']).sum()).reset_index(name='w3_weighted_count')


w1_cantons = w1_cantons.rename(columns={'t1educ_class_1_r': 'education'})
w2_cantons = w2_cantons.rename(columns={'t2educ_class_1_r': 'education'})
w3_cantons = w3_cantons.rename(columns={'t3educ_class_1_r': 'education'})

merged_df = pd.merge(w1_cantons, w2_cantons, on=['aes_canton', 'education'], how='outer')
merged_df = pd.merge(merged_df, w3_cantons, on=['aes_canton', 'education'], how='outer')

#merged_df.set_index('education', inplace=True)
merged_df.head(11)

C:\Users\CptMeh\AppData\Local\Temp\ipykernel_2864\2196029518.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  w1_cantons = merged_df.groupby(['aes_canton', 't1educ_class_1_r']).apply(
C:\Users\CptMeh\AppData\Local\Temp\ipykernel_2864\2196029518.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  w2_cantons = merged_df.groupby(['aes_canton', 't2educ_class_1_r']).apply(
C:\Users\CptMeh\AppData\Local\Temp\ipykernel_2864\2196029518.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  w3_cantons = merged_df.groupby(['aes_canton', 't3educ_class_1_r']).apply(

,aes_canton,education,w1_weighted_count,w2_weighted_count,w3_weighted_count
0,1,GE,2822.459832,2875.675016,2792.182829
1,1,IS,1717.171951,330.527861,114.166294
2,1,NET,340.946749,165.893318,493.385885
3,1,VET,4949.327069,6457.809406,6430.170593
4,2,GE,2234.584649,2285.406745,2264.229984
5,2,IS,1346.252183,183.111332,81.462125
6,2,NET,123.627758,106.999650,208.084862
7,2,VET,3442.092653,4571.039517,4592.780272
8,3,GE,734.225355,786.724219,761.738568
9,3,IS,313.620559,87.777121,24.908537
10,3,NET,126.871835,75.947697,236.039996

In [53]:
# TODO: df.to_html('./test.html')

In [58]:
'''
Summarise the columns w1_weighted_count, w2_weighted_count, and w3_weighted_count across all aes_canton for each education category, 
and then append these summaries back to your original DataFrame.
'''

summary_df = merged_df.groupby('education').sum().reset_index()
summary_df.drop('aes_canton', axis=1, inplace=True)
summary_df['aes_canton'] = 0
final_df = pd.concat([merged_df, summary_df], ignore_index=True)

final_df.head(11)

,aes_canton,education,w1_weighted_count,w2_weighted_count,w3_weighted_count
0,1,GE,2822.459832,2875.675016,2792.182829
1,1,IS,1717.171951,330.527861,114.166294
2,1,NET,340.946749,165.893318,493.385885
3,1,VET,4949.327069,6457.809406,6430.170593
4,2,GE,2234.584649,2285.406745,2264.229984
5,2,IS,1346.252183,183.111332,81.462125
6,2,NET,123.627758,106.999650,208.084862
7,2,VET,3442.092653,4571.039517,4592.780272
8,3,GE,734.225355,786.724219,761.738568
9,3,IS,313.620559,87.777121,24.908537
10,3,NET,126.871835,75.947697,236.039996

In [63]:
# Empty dictionary to store results
dict_list = []

# Iterate over unique aes_canton values
for aes_canton in final_df['aes_canton'].unique():
    # Filter dataframe for current aes_canton
    temp_df = final_df[final_df['aes_canton'] == aes_canton]
    
    # Create dictionary for current aes_canton
    temp_dict = {'aes_canton': aes_canton}
    for index, row in temp_df.iterrows():
        temp_dict[row['education']] = {
            'w1_weighted_count': row['w1_weighted_count'],
            'w2_weighted_count': row['w2_weighted_count'],
            'w3_weighted_count': row['w3_weighted_count']
        }
    
    # Append dictionary to list
    dict_list.append(temp_dict)

# Create DataFrame from list of dictionaries
result_df = pd.DataFrame()
result_df.head(11)

[{'aes_canton': 1,
  'GE': {'w1_weighted_count': 2822.4598321753724,
   'w2_weighted_count': 2875.675016190895,
   'w3_weighted_count': 2792.1828294931406},
  'IS': {'w1_weighted_count': 1717.171950571976,
   'w2_weighted_count': 330.5278613141312,
   'w3_weighted_count': 114.16629368517553},
  'NET': {'w1_weighted_count': 340.94674926468315,
   'w2_weighted_count': 165.89331780402065,
   'w3_weighted_count': 493.38588503765476},
  'VET': {'w1_weighted_count': 4949.327068815885,
   'w2_weighted_count': 6457.809405518869,
   'w3_weighted_count': 6430.170592611945}},
 {'aes_canton': 2,
  'GE': {'w1_weighted_count': 2234.584649055655,
   'w2_weighted_count': 2285.4067452956183,
   'w3_weighted_count': 2264.229984007583},
  'IS': {'w1_weighted_count': 1346.2521832038035,
   'w2_weighted_count': 183.11133163388735,
   'w3_weighted_count': 81.46212516257658},
  'NET': {'w1_weighted_count': 123.62775793856216,
   'w2_weighted_count': 106.99964952263744,
   'w3_weighted_count': 208.08486189059028},
  'VET': {'w1_weighted_count': 3442.0926532823914,
   'w2_weighted_count': 4571.039517028269,
   'w3_weighted_count': 4592.780272419663}},
 {'aes_canton': 3,
  'GE': {'w1_weighted_count': 734.2253551947114,
   'w2_weighted_count': 786.7242191598087,
   'w3_weighted_count': 761.7385681712065},
  'IS': {'w1_weighted_count': 313.62055854482475,
   'w2_weighted_count': 87.77712115035467,
   'w3_weighted_count': 24.90853667469777},
  'NET': {'w1_weighted_count': 126.87183467631466,
   'w2_weighted_count': 75.94769695829015,
   'w3_weighted_count': 236.039996085106},
  'VET': {'w1_weighted_count': 1621.6792870435352,
   'w2_weighted_count': 1845.9479981909324,
   'w3_weighted_count': 1773.7099345283755}},
 {'aes_canton': 4,
  'GE': {'w1_weighted_count': 34.61377670488978,
   'w2_weighted_count': 34.61377670488978,
   'w3_weighted_count': 32.79695626867697},
  'IS': {'w1_weighted_count': 8.09022409236025,
   'w2_weighted_count': nan,
   'w3_weighted_count': 5.293744227461719},
  'NET': {'w1_weighted_count': nan,
   'w2_weighted_count': nan,
   'w3_weighted_count': 1.042836042372697},
  'VET': {'w1_weighted_count': 144.5382636329983,
   'w2_weighted_count': 152.62848772535853,
   'w3_weighted_count': 148.10872789173692}},
 {'aes_canton': 5,
  'GE': {'w1_weighted_count': 243.11359376384053,
   'w2_weighted_count': 211.15240315490598,
   'w3_weighted_count': 208.6799762944242},
  'IS': {'w1_weighted_count': 71.51410862594955,
   'w2_weighted_count': 38.603923981323504,
   'w3_weighted_count': 16.261527862355948},
  'NET': {'w1_weighted_count': 9.08310974181098,
   'w2_weighted_count': 50.75063937777007,
   'w3_weighted_count': 107.93067874911401},
  'VET': {'w1_weighted_count': 641.0126367982637,
   'w2_weighted_count': 664.2164824158651,
   'w3_weighted_count': 631.8512660239705}},
 {'aes_canton': 6,
  'GE': {'w1_weighted_count': 83.42297692063661,
   'w2_weighted_count': 81.30714018169449,
   'w3_weighted_count': 77.929240701752},
  'IS': {'w1_weighted_count': 53.83844368931825,
   'w2_weighted_count': 13.960212562080624,
   'w3_weighted_count': 2.115836738942134},
  'NET': {'w1_weighted_count': 5.401385244307518,
   'w2_weighted_count': nan,
   'w3_weighted_count': 24.331139892024833},
  'VET': {'w1_weighted_count': 196.8895155103539,
   'w2_weighted_count': 244.28496862084114,
   'w3_weighted_count': 235.1761040318973}},
 {'aes_canton': 7,
  'GE': {'w1_weighted_count': 61.65128078641176,
   'w2_weighted_count': 61.694659068474046,
   'w3_weighted_count': 62.230946580397855},
  'IS': {'w1_weighted_count': 13.99018642949553,
   'w2_weighted_count': 4.563206317210016,
   'w3_weighted_count': 1.286783505280789},
  'NET': {'w1_weighted_count': 6.193652218599878,
   'w2_weighted_count': 8.37088096944272,
   'w3_weighted_count': 11.25686855899178},
  'VET': {'w1_weighted_count': 206.50387915847568,
   'w2_weighted_count': 213.7102522378561,
   'w3_weighted_count': 213.56439994831246}},
 {'aes_canton': 8,
  'GE': {'w1_weighted_count': 3.135080144240566,
   'w2_weighted_count': 3.300449650659784,
   'w3_weighted_count': 2.861254782759073},
  'IS': {'w1_weighted_count': 1.6355533919188505,
   'w2_weighted_count': 0.1044814228785369,
   'w3_weighted_count': nan},
  'NET': {'w1_weighted_count': 0.0608813645312703,
   'w2_weighted_count': 0.2944811081599194,
   'w3_weighted_count': 1.270090296776806},
  'VET': {'w1_weighted_count': 194.44457366396264,
   'w2_weighted_count': 195.5766763829551,
   'w3_weighted_count': 195.14474348511743}},
 {'aes_canton': 9,
  'GE': {'w1_weighted_count': 209.1117290146174,
   'w2_weighted_count': 211.4788234028762,
   'w3_weighted_count': 209.27438139839953},
  'IS': {'w1_weighted_count': 121.55031144075873,
   'w2_weighted_count': 7.833387544935022,
   'w3_weighted_count': 8.854314502758962},
  'NET': {'w1_weighted_count': 29.201885853141327,
   'w2_weighted_count': 20.031623159574558,
   'w3_weighted_count': 87.44125372487052},
  'VET': {'w1_weighted_count': 396.4474345369593,
   'w2_weighted_count': 516.967526738091,
   'w3_weighted_count': 450.74141121944785}},
 {'aes_canton': 10,
  'GE': {'w1_weighted_count': 886.6679891796487,
   'w2_weighted_count': 965.9753733747054,
   'w3_weighted_count': 951.8169416014337},
  'IS': {'w1_weighted_count': 507.2079814197083,
   'w2_weighted_count': 122.87118181325164,
   'w3_weighted_count': 24.899281012735297},
  'NET': {'w1_weighted_count': 146.3565289120949,
   'w2_weighted_count': 82.13903733692348,
   'w3_weighted_count': 91.32477147477928},
  'VET': {'w1_weighted_count': 1003.2009164192765,
   'w2_weighted_count': 1372.4478234058479,
   'w3_weighted_count': 1475.3924218417803}},
 {'aes_canton': 11,
  'GE': {'w1_weighted_count': 418.8001854517941,
   'w2_weighted_count': 422.90342604353435,
   'w3_weighted_count': 407.1499881720162},
  'IS': {'w1_weighted_count': 112.893834780885,
   'w2_weighted_count': 14.667507341820976,
   'w3_weighted_count': 8.117234730307079},
  'NET': {'w1_weighted_count': 24.582624464525257,
   'w2_weighted_count': 15.66436760348616,
   'w3_weighted_count': 72.48976393755069},
  'VET': {'w1_weighted_count': 979.628026949242,
   'w2_weighted_count': 1082.669370657605,
   'w3_weighted_count': 1048.1476848065724}},
 {'aes_canton': 12,
  'GE': {'w1_weighted_count': 427.3963334128361,
   'w2_weighted_count': 444.69500278864126,
   'w3_weighted_count': 412.68549345743344},
  'IS': {'w1_weighted_count': 187.28850149432984,
   'w2_weighted_count': 77.42098025687724,
   'w3_weighted_count': nan},
  'NET': {'w1_weighted_count': 17.46942158222388,
   'w2_weighted_count': 18.138633427771406,
   'w3_weighted_count': 104.59362092429674},
  'VET': {'w1_weighted_count': 218.45131341006896,
   'w2_weighted_count': 310.3509534261688,
   'w3_weighted_count': 333.3264555177285}},
 {'aes_canton': 13,
  'GE': {'w1_weighted_count': 662.3538835509552,
   'w2_weighted_count': 644.0794961784022,
   'w3_weighted_count': 630.0366657558254},
  'IS': {'w1_weighted_count': 291.24714972368906,
   'w2_weighted_count': 64.41588745759238,
   'w3_weighted_count': 12.80762712508327},
  'NET': {'w1_weighted_count': 22.60030776729193,
   'w2_weighted_count': 35.65126041604717,
   'w3_weighted_count': 25.893077002953433},
  'VET': {'w1_weighted_count': 814.2203134472732,
   'w2_weighted_count': 1046.2750104371676,
   'w3_weighted_count': 1121.684284605347}},
 {'aes_canton': 14,
  'GE': {'w1_weighted_count': 99.65912250050991,
   'w2_weighted_count': 101.84900358925627,
   'w3_weighted_count': 97.43220239030983},
  'IS': {'w1_weighted_count': 25.92965962648949,
   'w2_weighted_count': 3.9975856398297074,
   'w3_weighted_count': nan},
  'NET': {'w1_weighted_count': 44.755036610192334,
   'w2_weighted_count': 27.23326817893823,
   'w3_weighted_count': 44.34627551826027},
  'VET': {'w1_weighted_count': 258.7598255000662,
   'w2_weighted_count': 296.0237868292337,
   'w3_weighted_count': 287.3251663286878}},
 {'aes_canton': 15,
  'GE': {'w1_weighted_count': 27.34294620308254,
   'w2_weighted_count': 27.70844084044338,
   'w3_weighted_count': 16.856936980574307},
  'IS': {'w1_weighted_count': 10.964171492892506,
   'w2_weighted_count': 6.366226488760828,
   'w3_weighted_count': 0.9040477536653652},
  'NET': {'w1_weighted_count': 3.4448766251089604,
   'w2_weighted_count': 1.6727696555008973,
   'w3_weighted_count': 13.374723182769351},
  'VET': {'w1_weighted_count': 95.42235285196844,
   'w2_weighted_count': 101.42691018834734,
   'w3_weighted_count': 106.03863925604342}},
 {'aes_canton': 16,
  'GE': {'w1_weighted_count': 30.757664992507742,
   'w2_weighted_count': 30.757664992507742,
   'w3_weighted_count': 30.757664992507742},
  'IS': {'w1_weighted_count': 15.376766013393858,
   'w2_weighted_count': 4.494534819951395,
   'w3_weighted_count': nan},
  'NET': {'w1_weighted_count': nan,
   'w2_weighted_count': nan,
   'w3_weighted_count': 27.535774525752093},
  'VET': {'w1_weighted_count': 291.93440430703197,
   'w2_weighted_count': 302.81663550047443,
   'w3_weighted_count': 279.77539579467367}},
 {'aes_canton': 17,
  'GE': {'w1_weighted_count': 886.3075179318372,
   'w2_weighted_count': 902.6042195340441,
   'w3_weighted_count': 894.6570918335575},
  'IS': {'w1_weighted_count': 354.9600431920404,
   'w2_weighted_count': 53.908233117090745,
   'w3_weighted_count': 24.757232229276195},
  'NET': {'w1_weighted_count': 110.13400845239218,
   'w2_weighted_count': 48.009826936995694,
   'w3_weighted_count': 167.44801420197575},
  'VET': {'w1_weighted_count': 2006.4916094457371,
   'w2_weighted_count': 2353.3708994338767,
   'w3_weighted_count': 2271.0308407571974}},
 {'aes_canton': 18,
  'GE': {'w1_weighted_count': 352.19309704585015,
   'w2_weighted_count': 365.4152034794003,
   'w3_weighted_count': 329.14700654515286},
  'IS': {'w1_weighted_count': 130.32824965723265,
   'w2_weighted_count': 24.398634387891185,
   'w3_weighted_count': 1.647097298393947},
  'NET': {'w1_weighted_count': 28.70698564889425,
   'w2_weighted_count': 9.850511445259544,
   'w3_weighted_count': 74.01481915028428},
  'VET': {'w1_weighted_count': 646.2485016053998,
   'w2_weighted_count': 757.812484644826,
   'w3_weighted_count': 752.6679109635459}},
 {'aes_canton': 19,
  'GE': {'w1_weighted_count': 1001.1818079613769,
   'w2_weighted_count': 1001.1818079613769,
   'w3_weighted_count': 1001.1818079613769},
  'IS': {'w1_weighted_count': 605.916341015661,
   'w2_weighted_count': 170.5421199407179,
   'w3_weighted_count': 6.410991016844694},
  'NET': {'w1_weighted_count': 235.4011650608252,
   'w2_weighted_count': 84.11002751419163,
   'w3_weighted_count': 214.57743655916983},
  'VET': {'w1_weighted_count': 3175.056671222832,
   'w2_weighted_count': 3761.722029844408,
   'w3_weighted_count': 3795.3857497233034}},
 {'aes_canton': 20,
  'GE': {'w1_weighted_count': 490.82185372454455,
   'w2_weighted_count': 523.8767503313395,
   'w3_weighted_count': 514.3706583283926},
  'IS': {'w1_weighted_count': 206.9327089594522,
   'w2_weighted_count': 45.496354192620046,
   'w3_weighted_count': 49.22803944477644},
  'NET': {'w1_weighted_count': 74.6682535097966,
   'w2_weighted_count': 51.62293811117384,
   'w3_weighted_count': 84.4337406962629},
  'VET': {'w1_weighted_count': 1096.4797795462798,
   'w2_weighted_count': 1247.90655310494,
   'w3_weighted_count': 1220.8701572706414}},
 {'aes_canton': 21,
  'GE': {'w1_weighted_count': 1009.861174502055,
   'w2_weighted_count': 940.6183647726418,
   'w3_weighted_count': 897.7641271533173},
  'IS': {'w1_weighted_count': 83.76281725024512,
   'w2_weighted_count': 46.51051106387947,
   'w3_weighted_count': 37.737775492440065},
  'NET': {'w1_weighted_count': 92.94716078132791,
   'w2_weighted_count': 60.135852663333935,
   'w3_weighted_count': 84.54691505785944},
  'VET': {'w1_weighted_count': 1148.2108926157273,
   'w2_weighted_count': 1287.5173166495,
   'w3_weighted_count': 1314.7332274457385}},
 {'aes_canton': 22,
  'GE': {'w1_weighted_count': 3952.1451015744187,
   'w2_weighted_count': 4435.270049462893,
   'w3_weighted_count': 4316.074099853451},
  'IS': {'w1_weighted_count': 1262.248429241928,
   'w2_weighted_count': 306.2452187089088,
   'w3_weighted_count': 208.27642388443013},
  'NET': {'w1_weighted_count': 608.9462734225974,
   'w2_weighted_count': 353.6441064065565,
   'w3_weighted_count': 221.38818894787227},
  'VET': {'w1_weighted_count': 1592.4983618496587,
   'w2_weighted_count': 2320.6787915102445,
   'w3_weighted_count': 2670.099453402849}},
 {'aes_canton': 23,
  'GE': {'w1_weighted_count': 234.4778417002351,
   'w2_weighted_count': 233.85472678867905,
   'w3_weighted_count': 232.6458361808019},
  'IS': {'w1_weighted_count': 85.5711706401644,
   'w2_weighted_count': 26.981260037581308,
   'w3_weighted_count': 5.271168031905882},
  'NET': {'w1_weighted_count': 26.03640905863489,
   'w2_weighted_count': 23.69493164501853,
   'w3_weighted_count': 23.75861338227272},
  'VET': {'w1_weighted_count': 237.76087328492036,
   'w2_weighted_count': 299.31537621267586,
   'w3_weighted_count': 322.17067708897423}},
 {'aes_canton': 24,
  'GE': {'w1_weighted_count': 562.5050955973527,
   'w2_weighted_count': 467.40047010692774,
   'w3_weighted_count': 451.238580690347},
  'IS': {'w1_weighted_count': 160.24749842711716,
   'w2_weighted_count': 70.69217402882695,
   'w3_weighted_count': nan},
  'NET': {'w1_weighted_count': 103.7193820666404,
   'w2_weighted_count': 56.925597466458846,
   'w3_weighted_count': 72.78036354478097},
  'VET': {'w1_weighted_count': 489.9015549103481,
   'w2_weighted_count': 721.3552893992451,
   'w3_weighted_count': 792.3545867663305}},
 {'aes_canton': 25,
  'GE': {'w1_weighted_count': 2076.0767810253615,
   'w2_weighted_count': 2112.7477032671936,
   'w3_weighted_count': 1975.0319474400933},
  'IS': {'w1_weighted_count': 312.87364493080787,
   'w2_weighted_count': 84.33121849456198,
   'w3_weighted_count': 194.8179159535125},
  'NET': {'w1_weighted_count': 69.08252102977897,
   'w2_weighted_count': 113.157076208676,
   'w3_weighted_count': 117.78009233067822},
  'VET': {'w1_weighted_count': 633.6160283238174,
   'w2_weighted_count': 781.4129773393345,
   'w3_weighted_count': 804.0190195854819}},
 {'aes_canton': 26,
  'GE': {'w1_weighted_count': 191.65613030075048,
   'w2_weighted_count': 197.02489793655616,
   'w3_weighted_count': 195.44390295171453},
  'IS': {'w1_weighted_count': 59.285507191653565,
   'w2_weighted_count': 24.40615471058988,
   'w3_weighted_count': 20.858338855896076},
  'NET': {'w1_weighted_count': 31.697980794968732,
   'w2_weighted_count': 28.97107903513324,
   'w3_weighted_count': 19.383485559055774},
  'VET': {'w1_weighted_count': 230.8107703322608,
   'w2_weighted_count': 263.0482569373542,
   'w3_weighted_count': 277.76466125296713}},
 {'aes_canton': 0,
  'GE': {'w1_weighted_count': 19736.522800415492,
   'w2_weighted_count': 20369.315834258367,
   'w3_weighted_count': 19766.215089986646},
  'IS': {'w1_weighted_count': 8060.697995048095,
   'w2_weighted_count': 1814.2273084275535,
   'w3_weighted_count': 850.0823351885164},
  'NET': {'w1_weighted_count': 2281.9361920892447,
   'w2_weighted_count': 1438.9095729513606,
   'w3_weighted_count': 2630.4532862740757},
  'VET': {'w1_weighted_count': 26711.627508464735,
   'w2_weighted_count': 33168.331780380286,
   'w3_weighted_count': 33544.03378456833}}]

In [55]:
swiss_map = gpd.read_file('./geo-data/landesforstinventar-kantone_2056.geojson')

In [61]:


map_data = swiss_map.merge(result_df, how='left', left_on='KantonId', right_on='aes_canton')
map_data.head(11)

,KantonId,GeometrieId,KantonName_de,KantonName_fr,KantonName_it,KantonName_en,alternateName,geometry,aes_canton,GE,IS,NET,VET
0,1,1,Zürich,Zurich,Zurigo,Zurich,ZH,"POLYGON ((2692443.001 1281183.001, 2692994.001...",1,"{'w1_weighted_count': 2822.4598321753724, 'w2_...","{'w1_weighted_count': 1717.171950571976, 'w2_w...","{'w1_weighted_count': 340.94674926468315, 'w2_...","{'w1_weighted_count': 4949.327068815885, 'w2_w..."
1,2,2,Bern,Berne,Berna,Bern,BE,"MULTIPOLYGON (((2573533.001 1194765.001, 25740...",2,"{'w1_weighted_count': 2234.584649055655, 'w2_w...","{'w1_weighted_count': 1346.2521832038035, 'w2_...","{'w1_weighted_count': 123.62775793856216, 'w2_...","{'w1_weighted_count': 3442.0926532823914, 'w2_..."
2,3,3,Luzern,Lucerne,Lucerna,Lucerne,LU,"POLYGON ((2662029.001 1237691.001, 2662264.001...",3,"{'w1_weighted_count': 734.2253551947114, 'w2_w...","{'w1_weighted_count': 313.62055854482475, 'w2_...","{'w1_weighted_count': 126.87183467631466, 'w2_...","{'w1_weighted_count': 1621.6792870435352, 'w2_..."
3,4,4,Uri,Uri,Uri,Uri,UR,"POLYGON ((2688457.001 1203340.001, 2688740.001...",4,"{'w1_weighted_count': 34.61377670488978, 'w2_w...","{'w1_weighted_count': 8.09022409236025, 'w2_we...","{'w1_weighted_count': nan, 'w2_weighted_count'...","{'w1_weighted_count': 144.5382636329983, 'w2_w..."
4,5,5,Schwyz,Schwytz,Svitto,Schwyz,SZ,"POLYGON ((2704723.001 1229925.001, 2706210.001...",5,"{'w1_weighted_count': 243.11359376384053, 'w2_...","{'w1_weighted_count': 71.51410862594955, 'w2_w...","{'w1_weighted_count': 9.08310974181098, 'w2_we...","{'w1_weighted_count': 641.0126367982637, 'w2_w..."
5,6,6,Obwalden,Obwald,Obvaldo,Obwalden,OW,"MULTIPOLYGON (((2671405.001 1190060.001, 26714...",6,"{'w1_weighted_count': 83.42297692063661, 'w2_w...","{'w1_weighted_count': 53.83844368931825, 'w2_w...","{'w1_weighted_count': 5.401385244307518, 'w2_w...","{'w1_weighted_count': 196.8895155103539, 'w2_w..."
6,7,7,Nidwalden,Nidwald,Nidvaldo,Nidwalden,NW,"POLYGON ((2671814.001 1205943.001, 2672014.001...",7,"{'w1_weighted_count': 61.65128078641176, 'w2_w...","{'w1_weighted_count': 13.99018642949553, 'w2_w...","{'w1_weighted_count': 6.193652218599878, 'w2_w...","{'w1_weighted_count': 206.50387915847568, 'w2_..."
7,8,8,Glarus,Glaris,Glarona,Glarus,GL,"POLYGON ((2723523.001 1221233.001, 2723931.001...",8,"{'w1_weighted_count': 3.135080144240566, 'w2_w...","{'w1_weighted_count': 1.6355533919188505, 'w2_...","{'w1_weighted_count': 0.0608813645312703, 'w2_...","{'w1_weighted_count': 194.44457366396264, 'w2_..."
8,9,9,Zug,Zoug,Zugo,Zug,ZG,"POLYGON ((2674225.001 1231115.001, 2674488.001...",9,"{'w1_weighted_count': 209.1117290146174, 'w2_w...","{'w1_weighted_count': 121.55031144075873, 'w2_...","{'w1_weighted_count': 29.201885853141327, 'w2_...","{'w1_weighted_count': 396.4474345369593, 'w2_w..."
9,10,10,Freiburg,Fribourg,Friburgo,Fribourg,FR,"MULTIPOLYGON (((2549145.001 1178020.001, 25493...",10,"{'w1_weighted_count': 886.6679891796487, 'w2_w...","{'w1_weighted_count': 507.2079814197083, 'w2_w...","{'w1_weighted_count': 146.3565289120949, 'w2_w...","{'w1_weighted_count': 1003.2009164192765, 'w2_..."
10,11,11,Solothurn,Soleure,Soletta,Solothurn,SO,"MULTIPOLYGON (((2619241.541 1223713.825, 26194...",11,"{'w1_weighted_count': 418.8001854517941, 'w2_w...","{'w1_weighted_count': 112.893834780885, 'w2_we...","{'w1_weighted_count': 24.582624464525257, 'w2_...","{'w1_weighted_count': 979.628026949242, 'w2_we..."

In [ ]:
map_data.to_file('./geo-data/map_data.geojson', driver="GeoJSON")