In [29]:
!pip install geopandas

Requirement already satisfied: geopandas in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.14.4)
Requirement already satisfied: fiona>=1.8.21 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (1.9.6)
Requirement already satisfied: numpy>=1.22 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (1.26.4)
Requirement already satisfied: packaging in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (24.0)
Requirement already satisfied: pandas>=1.4.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (2.2.1)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (2.0.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (23.2.0)
Requirement already satisfied: certifi in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (2024.2.2)
Requirement already satisfied: click~=8.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: six in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: colorama in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from click~=8.0->fiona>=1.8.21->geopandas) (0.4.6)

In [30]:
import pandas as pd
import geopandas as gpd
import numpy as np
import json

def setEdj(df: pd.DataFrame, key) -> None :
    df.loc[df[key].isin(['5', '6', '7']), key] = 'VET'
    df.loc[df[key].isin(['8', '9']), key] = 'GE'
    df.loc[df[key].isin(['2', '3', '4']), key] = 'IS'
    df.loc[df[key].isin(['1']), key] = 'NET'

In [31]:
merged_df = pd.read_csv("./study-data/TREE2_Data_IWI_Open_Data_Vorlesung_2023_nolabel.csv")

merged_df = merged_df[merged_df['t1bqvalids'] != 'No valid response']
merged_df = merged_df[merged_df['t2bqvalids'] != 'No valid response']
merged_df = merged_df[merged_df['t3bqvalids'] != 'No valid response']

merged_df.dropna(inplace=True)
merged_df['t1educ_class_1_r'] = merged_df['t1educ_class_1_r'].astype(int).astype(str)
merged_df['t2educ_class_1_r'] = merged_df['t2educ_class_1_r'].astype(int).astype(str)
merged_df['t3educ_class_1_r'] = merged_df['t3educ_class_1_r'].astype(int).astype(str)


setEdj(merged_df, 't1educ_class_1_r')
setEdj(merged_df, 't2educ_class_1_r')
setEdj(merged_df, 't3educ_class_1_r')

cols = ['aes_canton', 'aes_langreg', 't1wt', 't2wt', 't3wt', 't1educ_class_1_r', 't2educ_class_1_r', 't3educ_class_1_r']

merged_df = merged_df[cols]
merged_df.fillna(0, inplace=True)

merged_df['aes_langreg'] = merged_df['aes_langreg'].replace(1, 'GR')
merged_df['aes_langreg'] = merged_df['aes_langreg'].replace(2, 'FR')
merged_df['aes_langreg'] = merged_df['aes_langreg'].replace(3, 'IT')

merged_df.head(20)

,aes_canton,aes_langreg,t1wt,t2wt,t3wt,t1educ_class_1_r,t2educ_class_1_r,t3educ_class_1_r
1,10,FR,4.959451,5.249187,4.995442,IS,VET,VET
3,11,GR,9.184840,9.340135,13.201428,VET,VET,NET
6,15,GR,0.612540,0.618889,0.562086,VET,VET,VET
7,10,GR,10.286020,14.506459,10.028031,VET,VET,VET
8,10,GR,2.655471,2.107327,2.090831,GE,GE,GE
10,25,FR,3.366786,3.206607,3.349368,GE,GE,GE
11,15,GR,0.662122,0.778710,0.708539,IS,VET,VET
12,25,FR,11.310630,9.486566,35.055328,IS,NET,NET
13,1,GR,17.446143,15.878919,16.129011,VET,VET,VET
15,17,GR,3.042590,2.854162,2.945887,GE,GE,GE
16,23,FR,2.054072,2.101752,1.676877,IS,IS,VET
20,13,GR,13.592860,10.138195,12.796247,VET,VET,VET
21,19,GR,12.848038,12.885117,14.439183,VET,VET,VET
25,2,GR,10.081531,13.252804,12.206690,VET,VET,VET
26,1,GR,7.350237,5.500166,6.817965,VET,VET,VET
28,22,FR,36.997857,31.026227,31.397761,NET,GE,GE
29,2,GR,10.149178,8.536685,11.132923,VET,VET,VET
33,20,GR,6.784402,6.204963,6.493370,GE,GE,GE
34,23,FR,0.699024,0.549799,0.704038,IS,VET,VET
36,26,FR,2.290582,2.007977,3.558899,IS,NET,NET

In [32]:
# Grouping data by canton and education type and calculating the weighted count
w1_cantons = merged_df.groupby(['aes_canton', 't1educ_class_1_r']).apply(
    lambda x: (x['t1wt']).sum()).reset_index(name='w1_edu')

w2_cantons = merged_df.groupby(['aes_canton', 't2educ_class_1_r']).apply(
    lambda x: (x['t1wt']).sum()).reset_index(name='w2_edu')

w3_cantons = merged_df.groupby(['aes_canton', 't3educ_class_1_r']).apply(
    lambda x: (x['t1wt']).sum()).reset_index(name='w3_edu')


w1_cantons = w1_cantons.rename(columns={'t1educ_class_1_r': 'education'})
w2_cantons = w2_cantons.rename(columns={'t2educ_class_1_r': 'education'})
w3_cantons = w3_cantons.rename(columns={'t3educ_class_1_r': 'education'})


edu_count = pd.merge(w1_cantons, w2_cantons, on=['aes_canton', 'education'], how='outer')
edu_count = pd.merge(edu_count, w3_cantons, on=['aes_canton', 'education'], how='outer')

#merged_df.set_index('education', inplace=True)
edu_count.head(20)

C:\Users\CptMeh\AppData\Local\Temp\ipykernel_6316\2770027761.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  w1_cantons = merged_df.groupby(['aes_canton', 't1educ_class_1_r']).apply(
C:\Users\CptMeh\AppData\Local\Temp\ipykernel_6316\2770027761.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  w2_cantons = merged_df.groupby(['aes_canton', 't2educ_class_1_r']).apply(
C:\Users\CptMeh\AppData\Local\Temp\ipykernel_6316\2770027761.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  w3_cantons = merged_df.groupby(['aes_canton', 't3educ_class_1_r']).apply(

    aes_canton education       w1_edu       w2_edu       w3_edu
0            1        GE  2822.459832  2875.675016  2792.182829
1            1        IS  1717.171951   330.527861   114.166294
2            1       NET   340.946749   165.893318   493.385885
3            1       VET  4949.327069  6457.809406  6430.170593
4            2        GE  2234.584649  2285.406745  2264.229984
5            2        IS  1346.252183   183.111332    81.462125
6            2       NET   123.627758   106.999650   208.084862
7            2       VET  3442.092653  4571.039517  4592.780272
8            3        GE   734.225355   786.724219   761.738568
9            3        IS   313.620559    87.777121    24.908537
10           3       NET   126.871835    75.947697   236.039996
11           3       VET  1621.679287  1845.947998  1773.709935
12           4        GE    34.613777    34.613777    32.796956
13           4        IS     8.090224          NaN     5.293744
14           4       NET          NaN          NaN     1.042836
15           4       VET   144.538264   152.628488   148.108728
16           5        GE   243.113594   211.152403   208.679976
17           5        IS    71.514109    38.603924    16.261528
18           5       NET     9.083110    50.750639   107.930679
19           5       VET   641.012637   664.216482   631.851266

In [33]:
# TODO: df.to_html('./test.html')

In [34]:
'''
Summarise the columns w1_weighted_count, w2_weighted_count, and w3_weighted_count across all aes_canton for each education category, 
and then append these summaries back to your original DataFrame.
'''

summary_df = edu_count.groupby('education').sum().reset_index()
summary_df.drop('aes_canton', axis=1, inplace=True)
summary_df['aes_canton'] = 'summary'
final_df = pd.concat([edu_count, summary_df], ignore_index=True)
final_df.fillna(0.0, inplace=True)

final_df.to_csv('./study-data/currated_data.csv')
final_df.head(20)

   aes_canton education       w1_edu       w2_edu       w3_edu
0           1        GE  2822.459832  2875.675016  2792.182829
1           1        IS  1717.171951   330.527861   114.166294
2           1       NET   340.946749   165.893318   493.385885
3           1       VET  4949.327069  6457.809406  6430.170593
4           2        GE  2234.584649  2285.406745  2264.229984
5           2        IS  1346.252183   183.111332    81.462125
6           2       NET   123.627758   106.999650   208.084862
7           2       VET  3442.092653  4571.039517  4592.780272
8           3        GE   734.225355   786.724219   761.738568
9           3        IS   313.620559    87.777121    24.908537
10          3       NET   126.871835    75.947697   236.039996
11          3       VET  1621.679287  1845.947998  1773.709935
12          4        GE    34.613777    34.613777    32.796956
13          4        IS     8.090224     0.000000     5.293744
14          4       NET     0.000000     0.000000     1.042836
15          4       VET   144.538264   152.628488   148.108728
16          5        GE   243.113594   211.152403   208.679976
17          5        IS    71.514109    38.603924    16.261528
18          5       NET     9.083110    50.750639   107.930679
19          5       VET   641.012637   664.216482   631.851266

In [35]:
multi_index_df = final_df.set_index(['aes_canton', 'education'])
multi_index_df.to_csv('./study-data/currated_data.csv')
multi_index_df.loc[(4, 'IS')]

w1_edu    8.090224
w2_edu    0.000000
w3_edu    5.293744
Name: (4, IS), dtype: float64

In [36]:
details = {}
for canton_id in multi_index_df.index.get_level_values('aes_canton').unique():
    canton_details = {}
    for edu_level in multi_index_df.xs(canton_id, level='aes_canton').index:
        canton_details[edu_level] = {
            'w1_edu': multi_index_df.loc[(canton_id, edu_level), 'w1_edu'],
            'w2_edu': multi_index_df.loc[(canton_id, edu_level), 'w2_edu'],
            'w3_edu': multi_index_df.loc[(canton_id, edu_level), 'w3_edu']
        }
    details[str(canton_id)] = canton_details


details

{'1': {'GE': {'w1_edu': 2822.4598321753724,
   'w2_edu': 2875.675016190895,
   'w3_edu': 2792.1828294931406},
  'IS': {'w1_edu': 1717.171950571976,
   'w2_edu': 330.5278613141312,
   'w3_edu': 114.16629368517553},
  'NET': {'w1_edu': 340.94674926468315,
   'w2_edu': 165.89331780402065,
   'w3_edu': 493.38588503765476},
  'VET': {'w1_edu': 4949.327068815885,
   'w2_edu': 6457.809405518869,
   'w3_edu': 6430.170592611945}},
 '2': {'GE': {'w1_edu': 2234.584649055655,
   'w2_edu': 2285.4067452956183,
   'w3_edu': 2264.229984007583},
  'IS': {'w1_edu': 1346.2521832038035,
   'w2_edu': 183.11133163388735,
   'w3_edu': 81.46212516257658},
  'NET': {'w1_edu': 123.62775793856216,
   'w2_edu': 106.99964952263744,
   'w3_edu': 208.08486189059028},
  'VET': {'w1_edu': 3442.0926532823914,
   'w2_edu': 4571.039517028269,
   'w3_edu': 4592.780272419663}},
 '3': {'GE': {'w1_edu': 734.2253551947114,
   'w2_edu': 786.7242191598087,
   'w3_edu': 761.7385681712065},
  'IS': {'w1_edu': 313.62055854482475,
   'w2_edu': 87.77712115035467,
   'w3_edu': 24.90853667469777},
  'NET': {'w1_edu': 126.87183467631466,
   'w2_edu': 75.94769695829015,
   'w3_edu': 236.039996085106},
  'VET': {'w1_edu': 1621.6792870435352,
   'w2_edu': 1845.9479981909324,
   'w3_edu': 1773.7099345283755}},
 '4': {'GE': {'w1_edu': 34.61377670488978,
   'w2_edu': 34.61377670488978,
   'w3_edu': 32.79695626867697},
  'IS': {'w1_edu': 8.09022409236025,
   'w2_edu': 0.0,
   'w3_edu': 5.293744227461719},
  'NET': {'w1_edu': 0.0, 'w2_edu': 0.0, 'w3_edu': 1.042836042372697},
  'VET': {'w1_edu': 144.5382636329983,
   'w2_edu': 152.62848772535853,
   'w3_edu': 148.10872789173692}},
 '5': {'GE': {'w1_edu': 243.11359376384053,
   'w2_edu': 211.15240315490598,
   'w3_edu': 208.6799762944242},
  'IS': {'w1_edu': 71.51410862594955,
   'w2_edu': 38.603923981323504,
   'w3_edu': 16.261527862355948},
  'NET': {'w1_edu': 9.08310974181098,
   'w2_edu': 50.75063937777007,
   'w3_edu': 107.93067874911401},
  'VET': {'w1_edu': 641.0126367982637,
   'w2_edu': 664.2164824158651,
   'w3_edu': 631.8512660239705}},
 '6': {'GE': {'w1_edu': 83.42297692063661,
   'w2_edu': 81.30714018169449,
   'w3_edu': 77.929240701752},
  'IS': {'w1_edu': 53.83844368931825,
   'w2_edu': 13.960212562080624,
   'w3_edu': 2.115836738942134},
  'NET': {'w1_edu': 5.401385244307518,
   'w2_edu': 0.0,
   'w3_edu': 24.331139892024833},
  'VET': {'w1_edu': 196.8895155103539,
   'w2_edu': 244.28496862084114,
   'w3_edu': 235.1761040318973}},
 '7': {'GE': {'w1_edu': 61.65128078641176,
   'w2_edu': 61.694659068474046,
   'w3_edu': 62.230946580397855},
  'IS': {'w1_edu': 13.99018642949553,
   'w2_edu': 4.563206317210016,
   'w3_edu': 1.286783505280789},
  'NET': {'w1_edu': 6.193652218599878,
   'w2_edu': 8.37088096944272,
   'w3_edu': 11.25686855899178},
  'VET': {'w1_edu': 206.50387915847568,
   'w2_edu': 213.7102522378561,
   'w3_edu': 213.56439994831246}},
 '8': {'GE': {'w1_edu': 3.135080144240566,
   'w2_edu': 3.300449650659784,
   'w3_edu': 2.861254782759073},
  'IS': {'w1_edu': 1.6355533919188505,
   'w2_edu': 0.1044814228785369,
   'w3_edu': 0.0},
  'NET': {'w1_edu': 0.0608813645312703,
   'w2_edu': 0.2944811081599194,
   'w3_edu': 1.270090296776806},
  'VET': {'w1_edu': 194.44457366396264,
   'w2_edu': 195.5766763829551,
   'w3_edu': 195.14474348511743}},
 '9': {'GE': {'w1_edu': 209.1117290146174,
   'w2_edu': 211.4788234028762,
   'w3_edu': 209.27438139839953},
  'IS': {'w1_edu': 121.55031144075873,
   'w2_edu': 7.833387544935022,
   'w3_edu': 8.854314502758962},
  'NET': {'w1_edu': 29.201885853141327,
   'w2_edu': 20.031623159574558,
   'w3_edu': 87.44125372487052},
  'VET': {'w1_edu': 396.4474345369593,
   'w2_edu': 516.967526738091,
   'w3_edu': 450.74141121944785}},
 '10': {'GE': {'w1_edu': 886.6679891796487,
   'w2_edu': 965.9753733747054,
   'w3_edu': 951.8169416014337},
  'IS': {'w1_edu': 507.2079814197083,
   'w2_edu': 122.87118181325164,
   'w3_edu': 24.899281012735297},
  'NET': {'w1_edu': 146.3565289120949,
   'w2_edu': 82.13903733692348,
   'w3_edu': 91.32477147477928},
  'VET': {'w1_edu': 1003.2009164192765,
   'w2_edu': 1372.4478234058479,
   'w3_edu': 1475.3924218417803}},
 '11': {'GE': {'w1_edu': 418.8001854517941,
   'w2_edu': 422.90342604353435,
   'w3_edu': 407.1499881720162},
  'IS': {'w1_edu': 112.893834780885,
   'w2_edu': 14.667507341820976,
   'w3_edu': 8.117234730307079},
  'NET': {'w1_edu': 24.582624464525257,
   'w2_edu': 15.66436760348616,
   'w3_edu': 72.48976393755069},
  'VET': {'w1_edu': 979.628026949242,
   'w2_edu': 1082.669370657605,
   'w3_edu': 1048.1476848065724}},
 '12': {'GE': {'w1_edu': 427.3963334128361,
   'w2_edu': 444.69500278864126,
   'w3_edu': 412.68549345743344},
  'IS': {'w1_edu': 187.28850149432984,
   'w2_edu': 77.42098025687724,
   'w3_edu': 0.0},
  'NET': {'w1_edu': 17.46942158222388,
   'w2_edu': 18.138633427771406,
   'w3_edu': 104.59362092429674},
  'VET': {'w1_edu': 218.45131341006896,
   'w2_edu': 310.3509534261688,
   'w3_edu': 333.3264555177285}},
 '13': {'GE': {'w1_edu': 662.3538835509552,
   'w2_edu': 644.0794961784022,
   'w3_edu': 630.0366657558254},
  'IS': {'w1_edu': 291.24714972368906,
   'w2_edu': 64.41588745759238,
   'w3_edu': 12.80762712508327},
  'NET': {'w1_edu': 22.60030776729193,
   'w2_edu': 35.65126041604717,
   'w3_edu': 25.893077002953433},
  'VET': {'w1_edu': 814.2203134472732,
   'w2_edu': 1046.2750104371676,
   'w3_edu': 1121.684284605347}},
 '14': {'GE': {'w1_edu': 99.65912250050991,
   'w2_edu': 101.84900358925627,
   'w3_edu': 97.43220239030983},
  'IS': {'w1_edu': 25.92965962648949,
   'w2_edu': 3.9975856398297074,
   'w3_edu': 0.0},
  'NET': {'w1_edu': 44.755036610192334,
   'w2_edu': 27.23326817893823,
   'w3_edu': 44.34627551826027},
  'VET': {'w1_edu': 258.7598255000662,
   'w2_edu': 296.0237868292337,
   'w3_edu': 287.3251663286878}},
 '15': {'GE': {'w1_edu': 27.34294620308254,
   'w2_edu': 27.70844084044338,
   'w3_edu': 16.856936980574307},
  'IS': {'w1_edu': 10.964171492892506,
   'w2_edu': 6.366226488760828,
   'w3_edu': 0.9040477536653652},
  'NET': {'w1_edu': 3.4448766251089604,
   'w2_edu': 1.6727696555008973,
   'w3_edu': 13.374723182769351},
  'VET': {'w1_edu': 95.42235285196844,
   'w2_edu': 101.42691018834734,
   'w3_edu': 106.03863925604342}},
 '16': {'GE': {'w1_edu': 30.757664992507742,
   'w2_edu': 30.757664992507742,
   'w3_edu': 30.757664992507742},
  'IS': {'w1_edu': 15.376766013393858,
   'w2_edu': 4.494534819951395,
   'w3_edu': 0.0},
  'NET': {'w1_edu': 0.0, 'w2_edu': 0.0, 'w3_edu': 27.535774525752093},
  'VET': {'w1_edu': 291.93440430703197,
   'w2_edu': 302.81663550047443,
   'w3_edu': 279.77539579467367}},
 '17': {'GE': {'w1_edu': 886.3075179318372,
   'w2_edu': 902.6042195340441,
   'w3_edu': 894.6570918335575},
  'IS': {'w1_edu': 354.9600431920404,
   'w2_edu': 53.908233117090745,
   'w3_edu': 24.757232229276195},
  'NET': {'w1_edu': 110.13400845239218,
   'w2_edu': 48.009826936995694,
   'w3_edu': 167.44801420197575},
  'VET': {'w1_edu': 2006.4916094457371,
   'w2_edu': 2353.3708994338767,
   'w3_edu': 2271.0308407571974}},
 '18': {'GE': {'w1_edu': 352.19309704585015,
   'w2_edu': 365.4152034794003,
   'w3_edu': 329.14700654515286},
  'IS': {'w1_edu': 130.32824965723265,
   'w2_edu': 24.398634387891185,
   'w3_edu': 1.647097298393947},
  'NET': {'w1_edu': 28.70698564889425,
   'w2_edu': 9.850511445259544,
   'w3_edu': 74.01481915028428},
  'VET': {'w1_edu': 646.2485016053998,
   'w2_edu': 757.812484644826,
   'w3_edu': 752.6679109635459}},
 '19': {'GE': {'w1_edu': 1001.1818079613769,
   'w2_edu': 1001.1818079613769,
   'w3_edu': 1001.1818079613769},
  'IS': {'w1_edu': 605.916341015661,
   'w2_edu': 170.5421199407179,
   'w3_edu': 6.410991016844694},
  'NET': {'w1_edu': 235.4011650608252,
   'w2_edu': 84.11002751419163,
   'w3_edu': 214.57743655916983},
  'VET': {'w1_edu': 3175.056671222832,
   'w2_edu': 3761.722029844408,
   'w3_edu': 3795.3857497233034}},
 '20': {'GE': {'w1_edu': 490.82185372454455,
   'w2_edu': 523.8767503313395,
   'w3_edu': 514.3706583283926},
  'IS': {'w1_edu': 206.9327089594522,
   'w2_edu': 45.496354192620046,
   'w3_edu': 49.22803944477644},
  'NET': {'w1_edu': 74.6682535097966,
   'w2_edu': 51.62293811117384,
   'w3_edu': 84.4337406962629},
  'VET': {'w1_edu': 1096.4797795462798,
   'w2_edu': 1247.90655310494,
   'w3_edu': 1220.8701572706414}},
 '21': {'GE': {'w1_edu': 1009.861174502055,
   'w2_edu': 940.6183647726418,
   'w3_edu': 897.7641271533173},
  'IS': {'w1_edu': 83.76281725024512,
   'w2_edu': 46.51051106387947,
   'w3_edu': 37.737775492440065},
  'NET': {'w1_edu': 92.94716078132791,
   'w2_edu': 60.135852663333935,
   'w3_edu': 84.54691505785944},
  'VET': {'w1_edu': 1148.2108926157273,
   'w2_edu': 1287.5173166495,
   'w3_edu': 1314.7332274457385}},
 '22': {'GE': {'w1_edu': 3952.1451015744187,
   'w2_edu': 4435.270049462893,
   'w3_edu': 4316.074099853451},
  'IS': {'w1_edu': 1262.248429241928,
   'w2_edu': 306.2452187089088,
   'w3_edu': 208.27642388443013},
  'NET': {'w1_edu': 608.9462734225974,
   'w2_edu': 353.6441064065565,
   'w3_edu': 221.38818894787227},
  'VET': {'w1_edu': 1592.4983618496587,
   'w2_edu': 2320.6787915102445,
   'w3_edu': 2670.099453402849}},
 '23': {'GE': {'w1_edu': 234.4778417002351,
   'w2_edu': 233.85472678867905,
   'w3_edu': 232.6458361808019},
  'IS': {'w1_edu': 85.5711706401644,
   'w2_edu': 26.981260037581308,
   'w3_edu': 5.271168031905882},
  'NET': {'w1_edu': 26.03640905863489,
   'w2_edu': 23.69493164501853,
   'w3_edu': 23.75861338227272},
  'VET': {'w1_edu': 237.76087328492036,
   'w2_edu': 299.31537621267586,
   'w3_edu': 322.17067708897423}},
 '24': {'GE': {'w1_edu': 562.5050955973527,
   'w2_edu': 467.40047010692774,
   'w3_edu': 451.238580690347},
  'IS': {'w1_edu': 160.24749842711716,
   'w2_edu': 70.69217402882695,
   'w3_edu': 0.0},
  'NET': {'w1_edu': 103.7193820666404,
   'w2_edu': 56.925597466458846,
   'w3_edu': 72.78036354478097},
  'VET': {'w1_edu': 489.9015549103481,
   'w2_edu': 721.3552893992451,
   'w3_edu': 792.3545867663305}},
 '25': {'GE': {'w1_edu': 2076.0767810253615,
   'w2_edu': 2112.7477032671936,
   'w3_edu': 1975.0319474400933},
  'IS': {'w1_edu': 312.87364493080787,
   'w2_edu': 84.33121849456198,
   'w3_edu': 194.8179159535125},
  'NET': {'w1_edu': 69.08252102977897,
   'w2_edu': 113.157076208676,
   'w3_edu': 117.78009233067822},
  'VET': {'w1_edu': 633.6160283238174,
   'w2_edu': 781.4129773393345,
   'w3_edu': 804.0190195854819}},
 '26': {'GE': {'w1_edu': 191.65613030075048,
   'w2_edu': 197.02489793655616,
   'w3_edu': 195.44390295171453},
  'IS': {'w1_edu': 59.285507191653565,
   'w2_edu': 24.40615471058988,
   'w3_edu': 20.858338855896076},
  'NET': {'w1_edu': 31.697980794968732,
   'w2_edu': 28.97107903513324,
   'w3_edu': 19.383485559055774},
  'VET': {'w1_edu': 230.8107703322608,
   'w2_edu': 263.0482569373542,
   'w3_edu': 277.76466125296713}},
 'summary': {'GE': {'w1_edu': 19736.522800415492,
   'w2_edu': 20369.315834258367,
   'w3_edu': 19766.215089986646},
  'IS': {'w1_edu': 8060.697995048095,
   'w2_edu': 1814.2273084275535,
   'w3_edu': 850.0823351885164},
  'NET': {'w1_edu': 2281.9361920892447,
   'w2_edu': 1438.9095729513606,
   'w3_edu': 2630.4532862740757},
  'VET': {'w1_edu': 26711.627508464735,
   'w2_edu': 33168.331780380286,
   'w3_edu': 33544.03378456833}}}

In [37]:
sorted_by_wave = {}

# Iterate through each entry in the original dictionary
for key, categories in details.items():
    # Initialize the entry for each wave within this key
    sorted_by_wave[key] = {'w1_edu': {}, 'w2_edu': {}, 'w3_edu': {}}

    # Now, populate the new structure with data
    for category, waves in categories.items():
        for wave, count in waves.items():
            sorted_by_wave[key][wave][category] = count

# Now sorted_by_wave is your dictionary sorted by wave
details = sorted_by_wave

In [38]:
details['summary']['GR'] = merged_df[merged_df['aes_langreg'] == 'GR'].count()[0]
details['summary']['FR'] = merged_df[merged_df['aes_langreg'] == 'FR'].count()[0]
details['summary']['IT'] = merged_df[merged_df['aes_langreg'] == 'IT'].count()[0]
details['summary']

C:\Users\CptMeh\AppData\Local\Temp\ipykernel_6316\3225822363.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  details['summary']['GR'] = merged_df[merged_df['aes_langreg'] == 'GR'].count()[0]
C:\Users\CptMeh\AppData\Local\Temp\ipykernel_6316\3225822363.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  details['summary']['FR'] = merged_df[merged_df['aes_langreg'] == 'FR'].count()[0]
C:\Users\CptMeh\AppData\Local\Temp\ipykernel_6316\3225822363.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  details['summary']['IT'] = merged_df[merged_df['aes_langreg'] == 'IT'].count()[0]

{'w1_edu': {'GE': 19736.522800415492,
  'IS': 8060.697995048095,
  'NET': 2281.9361920892447,
  'VET': 26711.627508464735},
 'w2_edu': {'GE': 20369.315834258367,
  'IS': 1814.2273084275535,
  'NET': 1438.9095729513606,
  'VET': 33168.331780380286},
 'w3_edu': {'GE': 19766.215089986646,
  'IS': 850.0823351885164,
  'NET': 2630.4532862740757,
  'VET': 33544.03378456833},
 'GR': 3646,
 'FR': 1335,
 'IT': 290}

In [43]:
details['summary']['GR']

3646

In [45]:
summary = { 'w1' : {'w1_ge' : details['summary']['w1_edu']['GE'],
                    'w1_is' : details['summary']['w1_edu']['IS'],
                    'w1_vet' : details['summary']['w1_edu']['VET'],
                    'w1_net' : details['summary']['w1_edu']['NET']},

            'w2' : {'w2_ge' : details['summary']['w2_edu']['GE'],
                    'w2_is' : details['summary']['w2_edu']['IS'],
                    'w2_vet' : details['summary']['w2_edu']['VET'],
                    'w2_net' : details['summary']['w2_edu']['NET']},

            'w3' : {'w3_ge' : details['summary']['w3_edu']['GE'],
                    'w3_is' : details['summary']['w3_edu']['IS'],
                    'w3_vet' : details['summary']['w3_edu']['VET'],
                    'w3_net' : details['summary']['w3_edu']['NET']},

            'lang': {'GR' : details['summary']['GR'].astype(float),
                    'FR' : details['summary']['FR'].astype(float),     
                    'IT' : details['summary']['IT'].astype(float)}}



with open('./study-data/summary.json', 'w') as file:
    json.dump(summary, file, indent=4)

In [ ]:
!pip install geopandas

Requirement already satisfied: geopandas in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.14.4)
Requirement already satisfied: fiona>=1.8.21 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (1.9.6)
Requirement already satisfied: numpy>=1.22 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (1.26.4)
Requirement already satisfied: packaging in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (24.0)
Requirement already satisfied: pandas>=1.4.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (2.2.1)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (2.0.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (23.2.0)
Requirement already satisfied: certifi in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (2024.2.2)
Requirement already satisfied: click~=8.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: six in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: colorama in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from click~=8.0->fiona>=1.8.21->geopandas) (0.4.6)

In [ ]:
swiss_map = gpd.read_file('./geo-data/landesforstinventar-kantone_2056.geojson')

# Ensure the KantonId in GeoDataFrame is treated as a string if your details keys are strings
swiss_map['KantonId'] = swiss_map['KantonId'].astype(str)

# Merge the details into the GeoDataFrame
# This step adds a new column 'details' to the GeoDataFrame
swiss_map['details'] = swiss_map['KantonId'].map(details)

# Check the resulting GeoDataFrame
swiss_map.to_file('./geo-data/map_data.geojson', driver="GeoJSON")

swiss_map.head(5)

,KantonId,GeometrieId,KantonName_de,KantonName_fr,KantonName_it,KantonName_en,alternateName,geometry,details
0,1,1,Zürich,Zurich,Zurigo,Zurich,ZH,"POLYGON ((2692443.001 1281183.001, 2692994.001...","{'w1_edu': {'GE': 2822.4598321753724, 'IS': 17..."
1,2,2,Bern,Berne,Berna,Bern,BE,"MULTIPOLYGON (((2573533.001 1194765.001, 25740...","{'w1_edu': {'GE': 2234.584649055655, 'IS': 134..."
2,3,3,Luzern,Lucerne,Lucerna,Lucerne,LU,"POLYGON ((2662029.001 1237691.001, 2662264.001...","{'w1_edu': {'GE': 734.2253551947114, 'IS': 313..."
3,4,4,Uri,Uri,Uri,Uri,UR,"POLYGON ((2688457.001 1203340.001, 2688740.001...","{'w1_edu': {'GE': 34.61377670488978, 'IS': 8.0..."
4,5,5,Schwyz,Schwytz,Svitto,Schwyz,SZ,"POLYGON ((2704723.001 1229925.001, 2706210.001...","{'w1_edu': {'GE': 243.11359376384053, 'IS': 71..."