In [19]:
import pandas as pd
import numpy as np

merged_df = pd.read_csv("./study-data/TREE2_Data_IWI_Open_Data_Vorlesung_2023_nolabel.csv")

merged_df = merged_df[merged_df['t1bqvalids'] != 'No valid response']
merged_df = merged_df[merged_df['t2bqvalids'] != 'No valid response']
merged_df = merged_df[merged_df['t3bqvalids'] != 'No valid response']



merged_df = merged_df.dropna()
merged_df

,resp_id,aes_canton,aes_langreg,t0sex,t0fmedu_comp,t0immig,t1bqvalids,t2bqvalids,t3bqvalids,t1wt,t2wt,t3wt,t0hisei08_3q,t0wlem_3q,t0st_nprog_req3,t1educ_class_1_r,t2educ_class_1_r,t3educ_class_1_r
1,1011011,10,2,1,1.0,3.0,1,1,1,4.959451,5.249187,4.995442,3.0,2.0,3,4.0,6.0,6.0
3,1011013,11,1,1,1.0,1.0,1,1,1,9.184840,9.340135,13.201428,1.0,1.0,3,5.0,5.0,1.0
6,1011020,15,1,1,1.0,1.0,1,1,1,0.612540,0.618889,0.562086,2.0,2.0,2,7.0,7.0,7.0
7,1011021,10,1,1,1.0,1.0,1,1,1,10.286020,14.506459,10.028031,1.0,1.0,2,6.0,6.0,6.0
8,1011027,10,1,2,1.0,1.0,1,1,1,2.655471,2.107327,2.090831,3.0,2.0,2,9.0,9.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8420,9013468,22,2,2,0.0,1.0,1,1,1,25.769896,21.778278,25.796507,1.0,3.0,2,6.0,6.0,6.0
8422,9013470,13,1,1,1.0,1.0,1,1,1,16.157314,12.532774,14.420422,2.0,2.0,2,9.0,9.0,9.0
8424,9013473,11,1,1,2.0,1.0,1,1,1,3.224725,3.078186,3.158450,3.0,3.0,2,9.0,9.0,9.0
8425,9013481,11,1,2,1.0,1.0,1,1,1,13.392653,11.988625,12.152623,2.0,3.0,3,6.0,6.0,6.0
8427,9013497,21,3,1,2.0,1.0,1,1,1,9.101303,19.132431,11.100303,2.0,3.0,1,2.0,2.0,7.0

In [20]:
merged_df.to_csv("currated_data.csv", index=False)

In [21]:
pd.read_csv("./study-data/currated_data.csv")

,resp_id,aes_canton,aes_langreg,t0sex,t0fmedu_comp,t0immig,t1bqvalids,t2bqvalids,t3bqvalids,t1wt,t2wt,t3wt,t0hisei08_3q,t0wlem_3q,t0st_nprog_req3,t1educ_class_1_r,t2educ_class_1_r,t3educ_class_1_r
0,1011011,10,2,1,1.0,3.0,1,1,1,4.959451,5.249187,4.995442,3.0,2.0,3,4.0,6.0,6.0
1,1011013,11,1,1,1.0,1.0,1,1,1,9.184840,9.340135,13.201428,1.0,1.0,3,5.0,5.0,1.0
2,1011020,15,1,1,1.0,1.0,1,1,1,0.612540,0.618889,0.562086,2.0,2.0,2,7.0,7.0,7.0
3,1011021,10,1,1,1.0,1.0,1,1,1,10.286020,14.506459,10.028031,1.0,1.0,2,6.0,6.0,6.0
4,1011027,10,1,2,1.0,1.0,1,1,1,2.655471,2.107327,2.090831,3.0,2.0,2,9.0,9.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5266,9013468,22,2,2,0.0,1.0,1,1,1,25.769896,21.778278,25.796507,1.0,3.0,2,6.0,6.0,6.0
5267,9013470,13,1,1,1.0,1.0,1,1,1,16.157314,12.532774,14.420422,2.0,2.0,2,9.0,9.0,9.0
5268,9013473,11,1,1,2.0,1.0,1,1,1,3.224725,3.078186,3.158450,3.0,3.0,2,9.0,9.0,9.0
5269,9013481,11,1,2,1.0,1.0,1,1,1,13.392653,11.988625,12.152623,2.0,3.0,3,6.0,6.0,6.0
5270,9013497,21,3,1,2.0,1.0,1,1,1,9.101303,19.132431,11.100303,2.0,3.0,1,2.0,2.0,7.0

In [9]:
pd.read_csv("./study-data/TREE2_Data_IWI_Open_Data_Vorlesung_2023_label.csv")

,resp_id,aes_canton,aes_langreg,t0sex,t0fmedu_comp,t0immig,t1bqvalids,t2bqvalids,t3bqvalids,t1wt,t2wt,t3wt,t0hisei08_3q,t0wlem_3q,t0st_nprog_req3,t1educ_class_1_r,t2educ_class_1_r,t3educ_class_1_r
0,1011007,Schaffhausen (SH),German,Male,Upper secondary education,Native (at least 1 parent born in Switzerland),Valid response,No valid response,No valid response,0.018611,NaN,NaN,Medium,Medium,Advanced requirements & Alternative/non-assign...,3-4 years VET,NaN,NaN
1,1011011,Fribourg (FR),French,Female,Upper secondary education,First generation (respondent and parent(s) bor...,Valid response,Valid response,Valid response,4.959451,5.249187,4.995442,High,Medium,Basic/low requirements,Other intermediate solution,3-4 years VET,3-4 years VET
2,1011012,Uri (UR),German,Female,Tertiary education,Native (at least 1 parent born in Switzerland),Valid response,Valid response,No valid response,1.117837,1.230214,NaN,Medium,Medium,Advanced requirements & Alternative/non-assign...,Vocational baccalaureate //VET,Vocational baccalaureate //VET,NaN
3,1011013,Solothurn (SO),German,Female,Upper secondary education,Native (at least 1 parent born in Switzerland),Valid response,Valid response,Valid response,9.184840,9.340135,13.201428,Low,Low,Basic/low requirements,2 years VET,2 years VET,NET
4,1011017,Schwyz (SZ),German,Female,Compulsory schooling only,Native (at least 1 parent born in Switzerland),Valid response,Valid response,No valid response,4.415709,3.592895,NaN,Low,Low,Basic/low requirements,3-4 years VET,3-4 years VET,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8424,9013473,Solothurn (SO),German,Female,Tertiary education,Native (at least 1 parent born in Switzerland),Valid response,Valid response,Valid response,3.224725,3.078186,3.158450,High,High,Advanced requirements & Alternative/non-assign...,Other general education programme (specialized...,Other general education programme (specialized...,Other general education programme (specialized...
8425,9013481,Solothurn (SO),German,Male,Upper secondary education,Native (at least 1 parent born in Switzerland),Valid response,Valid response,Valid response,13.392653,11.988625,12.152623,Medium,High,Basic/low requirements,3-4 years VET,3-4 years VET,3-4 years VET
8426,9013488,Zurich (ZH),German,Female,Upper secondary education,Native (at least 1 parent born in Switzerland),Valid response,Valid response,No valid response,12.473951,10.524038,NaN,Low,Low,Basic/low requirements,Internship,3-4 years VET,NaN
8427,9013497,Ticino (TI),Italian,Female,Tertiary education,Native (at least 1 parent born in Switzerland),Valid response,Valid response,Valid response,9.101303,19.132431,11.100303,Medium,High,High requirements,Internship,Internship,Vocational baccalaureate //VET
8428,9013499,Thurgau (TG),German,Male,NaN,Native (at least 1 parent born in Switzerland),Valid response,Valid response,Valid response,6.598321,6.355939,4.833821,Medium,Low,Basic/low requirements,3-4 years VET,3-4 years VET,NET

In [13]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.14.4-py3-none-any.whl.metadata (1.5 kB)
Collecting fiona>=1.8.21 (from geopandas)
  Downloading fiona-1.9.6-cp311-cp311-win_amd64.whl.metadata (51 kB)
     ---------------------------------------- 0.0/51.5 kB ? eta -:--:--
     --------------- ---------------------- 20.5/51.5 kB 682.7 kB/s eta 0:00:01
     -------------------------------------- 51.5/51.5 kB 666.1 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.22 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (1.26.4)
Requirement already satisfied: packaging in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (24.0)
Requirement already satisfied: pandas>=1.4.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (2.2.1)
Collecting pyproj>=3.3.0 (from geopandas)
  Downloading pyproj-3.6.1-cp311-cp311-win_amd64.whl.metadata (31 kB)
Collecting shapely>=1.8.0 (from geopandas)
  Downloading shapely-2.0.4-cp311-cp311-win_amd64.whl.metadata (7.2 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (23.2.0)
Requirement already satisfied: certifi in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (2024.2.2)
Requirement already satisfied: click~=8.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (8.1.7)
Collecting click-plugins>=1.0 (from fiona>=1.8.21->geopandas)
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl.metadata (6.4 kB)
Collecting cligj>=0.5 (from fiona>=1.8.21->geopandas)
  Downloading cligj-0.7.2-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: six in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: colorama in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from click~=8.0->fiona>=1.8.21->geopandas) (0.4.6)
Downloading geopandas-0.14.4-py3-none-any.whl (1.1 MB)
   ---------------------------------------- 0.0/1.1 MB ? eta -:--:--
   --- ------------------------------------ 0.1/1.1 MB 2.6 MB/s eta 0:00:01
   ------------ --------------------------- 0.3/1.1 MB 4.2 MB/s eta 0:00:01
   --------------------------- ------------ 0.8/1.1 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------- 1.1/1.1 MB 7.0 MB/s eta 0:00:00
Downloading fiona-1.9.6-cp311-cp311-win_amd64.whl (22.9 MB)
   ---------------------------------------- 0.0/22.9 MB ? eta -:--:--
   -- ------------------------------------- 1.3/22.9 MB 27.2 MB/s eta 0:00:01
   ---- ----------------------------------- 2.3/22.9 MB 24.4 MB/s eta 0:00:01
   ----- ---------------------------------- 3.0/22.9 MB 21.3 MB/s eta 0:00:01
   ------- -------------------------------- 4.3/22.9 MB 22.8 MB/s eta 0:00:01
   --------- ------------------------------ 5.6/22.9 MB 24.0 MB/s eta 0:00:01
   ----------- ---------------------------- 6.6/22.9 MB 23.4 MB/s eta 0:00:01
   -------------- ------------------------- 8.0/22.9 MB 24.5 MB/s eta 0:00:01
   ---------------- ----------------------- 9.4/22.9 MB 25.1 MB/s eta 0:00:01
   ------------------ --------------------- 10.5/22.9 MB 25.1 MB/s eta 0:00:01
   -------------------- ------------------- 11.9/22.9 MB 25.1 MB/s eta 0:00:01
   ----------------------- ---------------- 13.6/22.9 MB 28.5 MB/s eta 0:00:01
   -------------------------- ------------- 15.4/22.9 MB 29.8 MB/s eta 0:00:01
   --------------------------- ------------ 16.0/22.9 MB 28.5 MB/s eta 0:00:01
   ------------------------------ --------- 17.6/22.9 MB 28.5 MB/s eta 0:00:01
   --------------------------------- ------ 19.0/22.9 MB 28.5 MB/s eta 0:00:01
   ------------------------------------ --- 20.8/22.9 MB 31.2 MB/s eta 0:00:01
   -------------------------------------- - 22.1/22.9 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------  22.9/22.9 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------- 22.9/22.9 MB 28.4 MB/s eta 0:00:00
Downloading pyproj-3.6.1-cp311-cp311-win_amd64.whl (6.1 MB)
   ---------------------------------------- 0.0/6.1 MB ? eta -:--:--
   --------- ------------------------------ 1.5/6.1 MB 31.4 MB/s eta 0:00:01
   ---------------------- ----------------- 3.4/6.1 MB 35.6 MB/s eta 0:00:01
   -------------------------------- ------- 4.9/6.1 MB 34.9 MB/s eta 0:00:01
   ---------------------------------------- 6.1/6.1 MB 35.3 MB/s eta 0:00:00
Downloading shapely-2.0.4-cp311-cp311-win_amd64.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 1.4/1.4 MB 30.4 MB/s eta 0:00:00
Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Installing collected packages: shapely, pyproj, cligj, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.6 geopandas-0.14.4 pyproj-3.6.1 shapely-2.0.4

In [43]:
import pandas as pd
import geopandas as gpd
import numpy as np

def setEdj(df: pd.DataFrame, key) -> None :
    df.loc[df[key].isin(['5', '6', '7']), key] = 'VET'
    df.loc[df[key].isin(['8', '9']), key] = 'GE'
    df.loc[df[key].isin(['2', '3', '4']), key] = 'IS'
    df.loc[df[key].isin(['1']), key] = 'NET'

In [44]:
merged_df = pd.read_csv("./study-data/TREE2_Data_IWI_Open_Data_Vorlesung_2023_nolabel.csv")

merged_df = merged_df[merged_df['t1bqvalids'] != 'No valid response']
merged_df = merged_df[merged_df['t2bqvalids'] != 'No valid response']
merged_df = merged_df[merged_df['t3bqvalids'] != 'No valid response']

merged_df.dropna(inplace=True)
merged_df['t1educ_class_1_r'] = merged_df['t1educ_class_1_r'].astype(int).astype(str)
merged_df['t2educ_class_1_r'] = merged_df['t2educ_class_1_r'].astype(int).astype(str)
merged_df['t3educ_class_1_r'] = merged_df['t3educ_class_1_r'].astype(int).astype(str)


setEdj(merged_df, 't1educ_class_1_r')
setEdj(merged_df, 't2educ_class_1_r')
setEdj(merged_df, 't3educ_class_1_r')

cols = ['resp_id', 'aes_canton', 'aes_langreg', 't1wt', 't2wt', 't3wt', 't1educ_class_1_r', 't2educ_class_1_r', 't3educ_class_1_r']

merged_df = merged_df[cols]

merged_df

,resp_id,aes_canton,aes_langreg,t1wt,t2wt,t3wt,t1educ_class_1_r,t2educ_class_1_r,t3educ_class_1_r
1,1011011,10,2,4.959451,5.249187,4.995442,IS,VET,VET
3,1011013,11,1,9.184840,9.340135,13.201428,VET,VET,NET
6,1011020,15,1,0.612540,0.618889,0.562086,VET,VET,VET
7,1011021,10,1,10.286020,14.506459,10.028031,VET,VET,VET
8,1011027,10,1,2.655471,2.107327,2.090831,GE,GE,GE
...,...,...,...,...,...,...,...,...,...
8420,9013468,22,2,25.769896,21.778278,25.796507,VET,VET,VET
8422,9013470,13,1,16.157314,12.532774,14.420422,GE,GE,GE
8424,9013473,11,1,3.224725,3.078186,3.158450,GE,GE,GE
8425,9013481,11,1,13.392653,11.988625,12.152623,VET,VET,VET
8427,9013497,21,3,9.101303,19.132431,11.100303,IS,IS,VET

In [45]:
# Grouping data by canton and education type and calculating the weighted count
w1_cantons = merged_df.groupby(['aes_canton', 't1educ_class_1_r']).apply(
    lambda x: (x['t1wt']).sum()).reset_index(name='w1_weighted_count')

w2_cantons = merged_df.groupby(['aes_canton', 't2educ_class_1_r']).apply(
    lambda x: (x['t1wt']).sum()).reset_index(name='w2_weighted_count')

w3_cantons = merged_df.groupby(['aes_canton', 't3educ_class_1_r']).apply(
    lambda x: (x['t1wt']).sum()).reset_index(name='w3_weighted_count')


w1_cantons = w1_cantons.rename(columns={'t1educ_class_1_r': 'education'})
w2_cantons = w2_cantons.rename(columns={'t2educ_class_1_r': 'education'})
w3_cantons = w3_cantons.rename(columns={'t3educ_class_1_r': 'education'})

merged_df = pd.merge(w1_cantons, w2_cantons, on=['aes_canton', 'education'], how='outer')
merged_df = pd.merge(merged_df, w3_cantons, on=['aes_canton', 'education'], how='outer')

#merged_df.set_index('education', inplace=True)
merged_df.head(11)

C:\Users\CptMeh\AppData\Local\Temp\ipykernel_2864\2196029518.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  w1_cantons = merged_df.groupby(['aes_canton', 't1educ_class_1_r']).apply(
C:\Users\CptMeh\AppData\Local\Temp\ipykernel_2864\2196029518.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  w2_cantons = merged_df.groupby(['aes_canton', 't2educ_class_1_r']).apply(
C:\Users\CptMeh\AppData\Local\Temp\ipykernel_2864\2196029518.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  w3_cantons = merged_df.groupby(['aes_canton', 't3educ_class_1_r']).apply(

,aes_canton,education,w1_weighted_count,w2_weighted_count,w3_weighted_count
0,1,GE,2822.459832,2875.675016,2792.182829
1,1,IS,1717.171951,330.527861,114.166294
2,1,NET,340.946749,165.893318,493.385885
3,1,VET,4949.327069,6457.809406,6430.170593
4,2,GE,2234.584649,2285.406745,2264.229984
5,2,IS,1346.252183,183.111332,81.462125
6,2,NET,123.627758,106.999650,208.084862
7,2,VET,3442.092653,4571.039517,4592.780272
8,3,GE,734.225355,786.724219,761.738568
9,3,IS,313.620559,87.777121,24.908537
10,3,NET,126.871835,75.947697,236.039996

In [46]:
# TODO: df.to_html('./test.html')

In [47]:
'''
Summarise the columns w1_weighted_count, w2_weighted_count, and w3_weighted_count across all aes_canton for each education category, 
and then append these summaries back to your original DataFrame.
'''

summary_df = merged_df.groupby('education').sum().reset_index()
summary_df.drop('aes_canton', axis=1, inplace=True)
summary_df['aes_canton'] = 0
final_df = pd.concat([merged_df, summary_df], ignore_index=True)

final_df.to_csv('./study-data/currated_data.csv')

In [48]:
swiss_map = gpd.read_file('./geo-data/landesforstinventar-kantone_2056.geojson')

In [49]:
map_data = swiss_map.merge(final_df, how='left', left_on='KantonId', right_on='aes_canton')
map_data.to_file('./geo-data/map_data.geojson', driver="GeoJSON")