In [1]:
!pip install geopandas

Requirement already satisfied: geopandas in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.14.4)
Requirement already satisfied: fiona>=1.8.21 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (1.9.6)
Requirement already satisfied: numpy>=1.22 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (1.26.4)
Requirement already satisfied: packaging in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (24.0)
Requirement already satisfied: pandas>=1.4.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (2.2.1)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (2.0.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (23.2.0)
Requirement already satisfied: certifi in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (2024.2.2)
Requirement already satisfied: click~=8.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: six in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: colorama in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from click~=8.0->fiona>=1.8.21->geopandas) (0.4.6)

In [2]:
import pandas as pd
import geopandas as gpd
import numpy as np
import json

def setEdj(df: pd.DataFrame, key) -> None :
    df.loc[df[key].isin(['5', '6', '7']), key] = 'VET'
    df.loc[df[key].isin(['8', '9']), key] = 'GE'
    df.loc[df[key].isin(['2', '3', '4']), key] = 'IS'
    df.loc[df[key].isin(['1']), key] = 'NET'

In [3]:
merged_df = pd.read_csv("./study-data/TREE2_Data_IWI_Open_Data_Vorlesung_2023_nolabel.csv")

merged_df = merged_df[merged_df['t1bqvalids'] != 'No valid response']
merged_df = merged_df[merged_df['t2bqvalids'] != 'No valid response']
merged_df = merged_df[merged_df['t3bqvalids'] != 'No valid response']

merged_df.dropna(inplace=True)
merged_df['t1educ_class_1_r'] = merged_df['t1educ_class_1_r'].astype(int).astype(str)
merged_df['t2educ_class_1_r'] = merged_df['t2educ_class_1_r'].astype(int).astype(str)
merged_df['t3educ_class_1_r'] = merged_df['t3educ_class_1_r'].astype(int).astype(str)


setEdj(merged_df, 't1educ_class_1_r')
setEdj(merged_df, 't2educ_class_1_r')
setEdj(merged_df, 't3educ_class_1_r')

cols = ['resp_id', 'aes_canton', 'aes_langreg', 't1wt', 't2wt', 't3wt', 't1educ_class_1_r', 't2educ_class_1_r', 't3educ_class_1_r']

merged_df = merged_df[cols]
merged_df.fillna(0, inplace=True)

merged_df.head(20)

,resp_id,aes_canton,aes_langreg,t1wt,t2wt,t3wt,t1educ_class_1_r,t2educ_class_1_r,t3educ_class_1_r
1,1011011,10,2,4.959451,5.249187,4.995442,IS,VET,VET
3,1011013,11,1,9.184840,9.340135,13.201428,VET,VET,NET
6,1011020,15,1,0.612540,0.618889,0.562086,VET,VET,VET
7,1011021,10,1,10.286020,14.506459,10.028031,VET,VET,VET
8,1011027,10,1,2.655471,2.107327,2.090831,GE,GE,GE
10,1011029,25,2,3.366786,3.206607,3.349368,GE,GE,GE
11,1011030,15,1,0.662122,0.778710,0.708539,IS,VET,VET
12,1011033,25,2,11.310630,9.486566,35.055328,IS,NET,NET
13,1011035,1,1,17.446143,15.878919,16.129011,VET,VET,VET
15,1011037,17,1,3.042590,2.854162,2.945887,GE,GE,GE
16,1011038,23,2,2.054072,2.101752,1.676877,IS,IS,VET
20,1011053,13,1,13.592860,10.138195,12.796247,VET,VET,VET
21,1011054,19,1,12.848038,12.885117,14.439183,VET,VET,VET
25,1011061,2,1,10.081531,13.252804,12.206690,VET,VET,VET
26,1011063,1,1,7.350237,5.500166,6.817965,VET,VET,VET
28,1011067,22,2,36.997857,31.026227,31.397761,NET,GE,GE
29,1011072,2,1,10.149178,8.536685,11.132923,VET,VET,VET
33,1011081,20,1,6.784402,6.204963,6.493370,GE,GE,GE
34,1011082,23,2,0.699024,0.549799,0.704038,IS,VET,VET
36,1011087,26,2,2.290582,2.007977,3.558899,IS,NET,NET

In [4]:
d = merged_df[merged_df['aes_canton'] == 4]
d

,resp_id,aes_canton,aes_langreg,t1wt,t2wt,t3wt,t1educ_class_1_r,t2educ_class_1_r,t3educ_class_1_r
312,1011821,4,1,1.503606,1.711768,1.058136,VET,VET,VET
401,1012060,4,1,5.649293,8.341622,4.914467,VET,VET,VET
499,1012371,4,1,1.320908,1.700568,1.119062,VET,VET,VET
536,1012460,4,1,4.519760,9.615571,4.912754,VET,VET,IS
699,1012933,4,1,1.750088,1.842125,1.355651,VET,VET,VET
725,1013005,4,1,5.700906,7.177934,4.522499,VET,VET,VET
738,1013036,4,1,1.401516,1.716649,1.036526,GE,GE,GE
962,1013565,4,1,1.507322,1.977718,1.084915,VET,VET,VET
1137,2011392,4,1,3.155089,4.013602,2.435554,VET,VET,VET
1225,2011602,4,1,1.813698,2.121172,1.295798,VET,VET,VET
1297,2011826,4,1,0.875357,1.359219,0.848378,IS,VET,VET
1668,2012837,4,1,4.786188,5.698718,3.374154,VET,VET,VET
1719,2012982,4,1,3.866989,5.674590,3.226866,VET,VET,VET
1881,2013404,4,1,1.943018,3.784774,1.729225,VET,VET,VET
1914,3011052,4,1,1.489849,2.029213,1.288305,VET,VET,VET
1991,3011249,4,1,2.584497,4.169436,2.032212,VET,VET,VET
2354,3012179,4,1,1.416654,1.809748,1.079354,GE,GE,GE
2532,3012688,4,1,9.340883,11.664714,5.885983,VET,VET,VET
2615,3012885,4,1,1.883157,2.525798,1.408702,VET,VET,VET
2659,3013009,4,1,9.414090,13.423307,8.206747,VET,VET,VET
2713,3013168,4,1,2.698609,4.118806,2.341017,VET,VET,VET
3178,4011897,4,1,3.105057,5.528639,2.840059,VET,VET,VET
3200,4011941,4,1,15.323719,25.034563,12.199850,GE,GE,GE
3356,4012356,4,1,3.175762,3.265797,2.995488,VET,VET,VET
3372,4012395,4,1,1.273741,3.373640,1.427977,IS,VET,VET
3596,4012999,4,1,3.296860,4.401711,2.748102,VET,VET,VET
3717,4013342,4,1,1.664553,2.689668,1.178659,VET,VET,VET
3847,5011246,4,1,1.551025,1.903154,1.488491,VET,VET,VET
4044,5011802,4,1,1.579243,2.310509,1.570773,VET,VET,VET
4134,5012030,4,1,1.938668,2.613528,1.441093,VET,VET,VET
4389,5012744,4,1,4.774886,6.587518,4.705291,VET,VET,VET
4812,6011379,4,1,0.773984,0.990170,0.564479,GE,GE,IS
4868,6011517,4,1,1.138715,1.491190,0.907246,GE,GE,GE
4962,6011735,4,1,0.967612,1.299521,0.740496,GE,GE,GE
4976,6011773,4,1,1.951466,3.094932,1.545148,VET,VET,VET
5024,6011880,4,1,1.042836,1.382694,0.830231,GE,GE,NET
5086,6012046,4,1,4.517259,6.137656,3.408064,VET,VET,VET
5221,6012398,4,1,4.993942,5.675689,3.324219,VET,VET,VET
5469,6013047,4,1,1.667540,2.823322,1.338597,GE,GE,GE
5874,7011699,4,1,1.616724,2.596387,1.648219,VET,VET,VET
5932,7011869,4,1,4.371388,5.703586,2.877154,VET,VET,VET
6035,7012133,4,1,1.051983,1.053480,0.848740,VET,VET,VET
6036,7012137,4,1,6.905091,12.291493,5.865103,VET,VET,VET
6436,7013187,4,1,1.198997,1.980382,1.006435,GE,GE,GE
6451,7013220,4,1,2.251767,3.126884,1.892312,VET,VET,VET
6555,8011031,4,1,2.459906,3.252681,2.176029,VET,VET,VET
6622,8011196,4,1,1.061941,1.423620,0.880106,GE,GE,GE
6894,8011909,4,1,1.170142,1.567296,0.834611,GE,GE,GE
6922,8011983,4,1,3.084315,3.958461,2.679094,VET,VET,VET
7028,8012277,4,1,1.265334,1.781242,0.944142,VET,VET,VET
7150,8012604,4,1,3.566484,3.836839,2.956968,VET,VET,VET
7179,8012675,4,1,1.079070,1.411515,0.758667,GE,GE,GE
7328,8013045,4,1,3.279091,3.921757,2.819188,VET,VET,VET
7932,9012195,4,1,1.972659,2.523818,1.633545,VET,VET,VET
7948,9012226,4,1,1.939598,2.339077,1.516365,VET,VET,VET
8072,9012553,4,1,13.297254,14.756273,9.787693,VET,VET,VET
8080,9012572,4,1,5.941126,5.683245,3.183841,IS,VET,VET
8092,9012603,4,1,1.112434,1.519440,0.801020,GE,GE,GE
8193,9012876,4,1,5.258616,7.438316,5.040796,GE,GE,GE

In [5]:
# Grouping data by canton and education type and calculating the weighted count
w1_cantons = merged_df.groupby(['aes_canton', 't1educ_class_1_r']).apply(
    lambda x: (x['t1wt']).sum()).reset_index(name='w1_weighted_count')

w2_cantons = merged_df.groupby(['aes_canton', 't2educ_class_1_r']).apply(
    lambda x: (x['t1wt']).sum()).reset_index(name='w2_weighted_count')

w3_cantons = merged_df.groupby(['aes_canton', 't3educ_class_1_r']).apply(
    lambda x: (x['t1wt']).sum()).reset_index(name='w3_weighted_count')


w1_cantons = w1_cantons.rename(columns={'t1educ_class_1_r': 'education'})
w2_cantons = w2_cantons.rename(columns={'t2educ_class_1_r': 'education'})
w3_cantons = w3_cantons.rename(columns={'t3educ_class_1_r': 'education'})

w1_cantons.fillna(0, inplace=True)
w2_cantons.fillna(0, inplace=True)
w3_cantons.fillna(0, inplace=True)


merged_df = pd.merge(w1_cantons, w2_cantons, on=['aes_canton', 'education'], how='outer')
merged_df = pd.merge(merged_df, w3_cantons, on=['aes_canton', 'education'], how='outer')

#merged_df.set_index('education', inplace=True)
merged_df.head(20)

C:\Users\CptMeh\AppData\Local\Temp\ipykernel_5480\2516797794.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  w1_cantons = merged_df.groupby(['aes_canton', 't1educ_class_1_r']).apply(
C:\Users\CptMeh\AppData\Local\Temp\ipykernel_5480\2516797794.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  w2_cantons = merged_df.groupby(['aes_canton', 't2educ_class_1_r']).apply(
C:\Users\CptMeh\AppData\Local\Temp\ipykernel_5480\2516797794.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  w3_cantons = merged_df.groupby(['aes_canton', 't3educ_class_1_r']).apply(

,aes_canton,education,w1_weighted_count,w2_weighted_count,w3_weighted_count
0,1,GE,2822.459832,2875.675016,2792.182829
1,1,IS,1717.171951,330.527861,114.166294
2,1,NET,340.946749,165.893318,493.385885
3,1,VET,4949.327069,6457.809406,6430.170593
4,2,GE,2234.584649,2285.406745,2264.229984
5,2,IS,1346.252183,183.111332,81.462125
6,2,NET,123.627758,106.999650,208.084862
7,2,VET,3442.092653,4571.039517,4592.780272
8,3,GE,734.225355,786.724219,761.738568
9,3,IS,313.620559,87.777121,24.908537
10,3,NET,126.871835,75.947697,236.039996
11,3,VET,1621.679287,1845.947998,1773.709935
12,4,GE,34.613777,34.613777,32.796956
13,4,IS,8.090224,NaN,5.293744
14,4,NET,NaN,NaN,1.042836
15,4,VET,144.538264,152.628488,148.108728
16,5,GE,243.113594,211.152403,208.679976
17,5,IS,71.514109,38.603924,16.261528
18,5,NET,9.083110,50.750639,107.930679
19,5,VET,641.012637,664.216482,631.851266

In [6]:
# TODO: df.to_html('./test.html')

In [7]:
'''
Summarise the columns w1_weighted_count, w2_weighted_count, and w3_weighted_count across all aes_canton for each education category, 
and then append these summaries back to your original DataFrame.
'''

summary_df = merged_df.groupby('education').sum().reset_index()
summary_df.drop('aes_canton', axis=1, inplace=True)
summary_df['aes_canton'] = 0
final_df = pd.concat([merged_df, summary_df], ignore_index=True)
final_df.fillna(0.0, inplace=True)

final_df.to_csv('./study-data/currated_data.csv')
final_df.head(20)

,aes_canton,education,w1_weighted_count,w2_weighted_count,w3_weighted_count
0,1,GE,2822.459832,2875.675016,2792.182829
1,1,IS,1717.171951,330.527861,114.166294
2,1,NET,340.946749,165.893318,493.385885
3,1,VET,4949.327069,6457.809406,6430.170593
4,2,GE,2234.584649,2285.406745,2264.229984
5,2,IS,1346.252183,183.111332,81.462125
6,2,NET,123.627758,106.999650,208.084862
7,2,VET,3442.092653,4571.039517,4592.780272
8,3,GE,734.225355,786.724219,761.738568
9,3,IS,313.620559,87.777121,24.908537
10,3,NET,126.871835,75.947697,236.039996
11,3,VET,1621.679287,1845.947998,1773.709935
12,4,GE,34.613777,34.613777,32.796956
13,4,IS,8.090224,0.000000,5.293744
14,4,NET,0.000000,0.000000,1.042836
15,4,VET,144.538264,152.628488,148.108728
16,5,GE,243.113594,211.152403,208.679976
17,5,IS,71.514109,38.603924,16.261528
18,5,NET,9.083110,50.750639,107.930679
19,5,VET,641.012637,664.216482,631.851266

In [8]:
multi_index_df = final_df.set_index(['aes_canton', 'education'])
multi_index_df.to_csv('./study-data/currated_data.csv')
multi_index_df.loc[(4, 'IS')]

w1_weighted_count    8.090224
w2_weighted_count    0.000000
w3_weighted_count    5.293744
Name: (4, IS), dtype: float64

In [9]:
details = {}
for canton_id in multi_index_df.index.get_level_values('aes_canton').unique():
    canton_details = {}
    for edu_level in multi_index_df.xs(canton_id, level='aes_canton').index:
        canton_details[edu_level] = {
            'w1_weighted_count': multi_index_df.loc[(canton_id, edu_level), 'w1_weighted_count'],
            'w2_weighted_count': multi_index_df.loc[(canton_id, edu_level), 'w2_weighted_count'],
            'w3_weighted_count': multi_index_df.loc[(canton_id, edu_level), 'w3_weighted_count']
        }
    details[str(canton_id)] = canton_details


details

{'1': {'GE': {'w1_weighted_count': 2822.4598321753724,
   'w2_weighted_count': 2875.675016190895,
   'w3_weighted_count': 2792.1828294931406},
  'IS': {'w1_weighted_count': 1717.171950571976,
   'w2_weighted_count': 330.5278613141312,
   'w3_weighted_count': 114.16629368517553},
  'NET': {'w1_weighted_count': 340.94674926468315,
   'w2_weighted_count': 165.89331780402065,
   'w3_weighted_count': 493.38588503765476},
  'VET': {'w1_weighted_count': 4949.327068815885,
   'w2_weighted_count': 6457.809405518869,
   'w3_weighted_count': 6430.170592611945}},
 '2': {'GE': {'w1_weighted_count': 2234.584649055655,
   'w2_weighted_count': 2285.4067452956183,
   'w3_weighted_count': 2264.229984007583},
  'IS': {'w1_weighted_count': 1346.2521832038035,
   'w2_weighted_count': 183.11133163388735,
   'w3_weighted_count': 81.46212516257658},
  'NET': {'w1_weighted_count': 123.62775793856216,
   'w2_weighted_count': 106.99964952263744,
   'w3_weighted_count': 208.08486189059028},
  'VET': {'w1_weighted_count': 3442.0926532823914,
   'w2_weighted_count': 4571.039517028269,
   'w3_weighted_count': 4592.780272419663}},
 '3': {'GE': {'w1_weighted_count': 734.2253551947114,
   'w2_weighted_count': 786.7242191598087,
   'w3_weighted_count': 761.7385681712065},
  'IS': {'w1_weighted_count': 313.62055854482475,
   'w2_weighted_count': 87.77712115035467,
   'w3_weighted_count': 24.90853667469777},
  'NET': {'w1_weighted_count': 126.87183467631466,
   'w2_weighted_count': 75.94769695829015,
   'w3_weighted_count': 236.039996085106},
  'VET': {'w1_weighted_count': 1621.6792870435352,
   'w2_weighted_count': 1845.9479981909324,
   'w3_weighted_count': 1773.7099345283755}},
 '4': {'GE': {'w1_weighted_count': 34.61377670488978,
   'w2_weighted_count': 34.61377670488978,
   'w3_weighted_count': 32.79695626867697},
  'IS': {'w1_weighted_count': 8.09022409236025,
   'w2_weighted_count': 0.0,
   'w3_weighted_count': 5.293744227461719},
  'NET': {'w1_weighted_count': 0.0,
   'w2_weighted_count': 0.0,
   'w3_weighted_count': 1.042836042372697},
  'VET': {'w1_weighted_count': 144.5382636329983,
   'w2_weighted_count': 152.62848772535853,
   'w3_weighted_count': 148.10872789173692}},
 '5': {'GE': {'w1_weighted_count': 243.11359376384053,
   'w2_weighted_count': 211.15240315490598,
   'w3_weighted_count': 208.6799762944242},
  'IS': {'w1_weighted_count': 71.51410862594955,
   'w2_weighted_count': 38.603923981323504,
   'w3_weighted_count': 16.261527862355948},
  'NET': {'w1_weighted_count': 9.08310974181098,
   'w2_weighted_count': 50.75063937777007,
   'w3_weighted_count': 107.93067874911401},
  'VET': {'w1_weighted_count': 641.0126367982637,
   'w2_weighted_count': 664.2164824158651,
   'w3_weighted_count': 631.8512660239705}},
 '6': {'GE': {'w1_weighted_count': 83.42297692063661,
   'w2_weighted_count': 81.30714018169449,
   'w3_weighted_count': 77.929240701752},
  'IS': {'w1_weighted_count': 53.83844368931825,
   'w2_weighted_count': 13.960212562080624,
   'w3_weighted_count': 2.115836738942134},
  'NET': {'w1_weighted_count': 5.401385244307518,
   'w2_weighted_count': 0.0,
   'w3_weighted_count': 24.331139892024833},
  'VET': {'w1_weighted_count': 196.8895155103539,
   'w2_weighted_count': 244.28496862084114,
   'w3_weighted_count': 235.1761040318973}},
 '7': {'GE': {'w1_weighted_count': 61.65128078641176,
   'w2_weighted_count': 61.694659068474046,
   'w3_weighted_count': 62.230946580397855},
  'IS': {'w1_weighted_count': 13.99018642949553,
   'w2_weighted_count': 4.563206317210016,
   'w3_weighted_count': 1.286783505280789},
  'NET': {'w1_weighted_count': 6.193652218599878,
   'w2_weighted_count': 8.37088096944272,
   'w3_weighted_count': 11.25686855899178},
  'VET': {'w1_weighted_count': 206.50387915847568,
   'w2_weighted_count': 213.7102522378561,
   'w3_weighted_count': 213.56439994831246}},
 '8': {'GE': {'w1_weighted_count': 3.135080144240566,
   'w2_weighted_count': 3.300449650659784,
   'w3_weighted_count': 2.861254782759073},
  'IS': {'w1_weighted_count': 1.6355533919188505,
   'w2_weighted_count': 0.1044814228785369,
   'w3_weighted_count': 0.0},
  'NET': {'w1_weighted_count': 0.0608813645312703,
   'w2_weighted_count': 0.2944811081599194,
   'w3_weighted_count': 1.270090296776806},
  'VET': {'w1_weighted_count': 194.44457366396264,
   'w2_weighted_count': 195.5766763829551,
   'w3_weighted_count': 195.14474348511743}},
 '9': {'GE': {'w1_weighted_count': 209.1117290146174,
   'w2_weighted_count': 211.4788234028762,
   'w3_weighted_count': 209.27438139839953},
  'IS': {'w1_weighted_count': 121.55031144075873,
   'w2_weighted_count': 7.833387544935022,
   'w3_weighted_count': 8.854314502758962},
  'NET': {'w1_weighted_count': 29.201885853141327,
   'w2_weighted_count': 20.031623159574558,
   'w3_weighted_count': 87.44125372487052},
  'VET': {'w1_weighted_count': 396.4474345369593,
   'w2_weighted_count': 516.967526738091,
   'w3_weighted_count': 450.74141121944785}},
 '10': {'GE': {'w1_weighted_count': 886.6679891796487,
   'w2_weighted_count': 965.9753733747054,
   'w3_weighted_count': 951.8169416014337},
  'IS': {'w1_weighted_count': 507.2079814197083,
   'w2_weighted_count': 122.87118181325164,
   'w3_weighted_count': 24.899281012735297},
  'NET': {'w1_weighted_count': 146.3565289120949,
   'w2_weighted_count': 82.13903733692348,
   'w3_weighted_count': 91.32477147477928},
  'VET': {'w1_weighted_count': 1003.2009164192765,
   'w2_weighted_count': 1372.4478234058479,
   'w3_weighted_count': 1475.3924218417803}},
 '11': {'GE': {'w1_weighted_count': 418.8001854517941,
   'w2_weighted_count': 422.90342604353435,
   'w3_weighted_count': 407.1499881720162},
  'IS': {'w1_weighted_count': 112.893834780885,
   'w2_weighted_count': 14.667507341820976,
   'w3_weighted_count': 8.117234730307079},
  'NET': {'w1_weighted_count': 24.582624464525257,
   'w2_weighted_count': 15.66436760348616,
   'w3_weighted_count': 72.48976393755069},
  'VET': {'w1_weighted_count': 979.628026949242,
   'w2_weighted_count': 1082.669370657605,
   'w3_weighted_count': 1048.1476848065724}},
 '12': {'GE': {'w1_weighted_count': 427.3963334128361,
   'w2_weighted_count': 444.69500278864126,
   'w3_weighted_count': 412.68549345743344},
  'IS': {'w1_weighted_count': 187.28850149432984,
   'w2_weighted_count': 77.42098025687724,
   'w3_weighted_count': 0.0},
  'NET': {'w1_weighted_count': 17.46942158222388,
   'w2_weighted_count': 18.138633427771406,
   'w3_weighted_count': 104.59362092429674},
  'VET': {'w1_weighted_count': 218.45131341006896,
   'w2_weighted_count': 310.3509534261688,
   'w3_weighted_count': 333.3264555177285}},
 '13': {'GE': {'w1_weighted_count': 662.3538835509552,
   'w2_weighted_count': 644.0794961784022,
   'w3_weighted_count': 630.0366657558254},
  'IS': {'w1_weighted_count': 291.24714972368906,
   'w2_weighted_count': 64.41588745759238,
   'w3_weighted_count': 12.80762712508327},
  'NET': {'w1_weighted_count': 22.60030776729193,
   'w2_weighted_count': 35.65126041604717,
   'w3_weighted_count': 25.893077002953433},
  'VET': {'w1_weighted_count': 814.2203134472732,
   'w2_weighted_count': 1046.2750104371676,
   'w3_weighted_count': 1121.684284605347}},
 '14': {'GE': {'w1_weighted_count': 99.65912250050991,
   'w2_weighted_count': 101.84900358925627,
   'w3_weighted_count': 97.43220239030983},
  'IS': {'w1_weighted_count': 25.92965962648949,
   'w2_weighted_count': 3.9975856398297074,
   'w3_weighted_count': 0.0},
  'NET': {'w1_weighted_count': 44.755036610192334,
   'w2_weighted_count': 27.23326817893823,
   'w3_weighted_count': 44.34627551826027},
  'VET': {'w1_weighted_count': 258.7598255000662,
   'w2_weighted_count': 296.0237868292337,
   'w3_weighted_count': 287.3251663286878}},
 '15': {'GE': {'w1_weighted_count': 27.34294620308254,
   'w2_weighted_count': 27.70844084044338,
   'w3_weighted_count': 16.856936980574307},
  'IS': {'w1_weighted_count': 10.964171492892506,
   'w2_weighted_count': 6.366226488760828,
   'w3_weighted_count': 0.9040477536653652},
  'NET': {'w1_weighted_count': 3.4448766251089604,
   'w2_weighted_count': 1.6727696555008973,
   'w3_weighted_count': 13.374723182769351},
  'VET': {'w1_weighted_count': 95.42235285196844,
   'w2_weighted_count': 101.42691018834734,
   'w3_weighted_count': 106.03863925604342}},
 '16': {'GE': {'w1_weighted_count': 30.757664992507742,
   'w2_weighted_count': 30.757664992507742,
   'w3_weighted_count': 30.757664992507742},
  'IS': {'w1_weighted_count': 15.376766013393858,
   'w2_weighted_count': 4.494534819951395,
   'w3_weighted_count': 0.0},
  'NET': {'w1_weighted_count': 0.0,
   'w2_weighted_count': 0.0,
   'w3_weighted_count': 27.535774525752093},
  'VET': {'w1_weighted_count': 291.93440430703197,
   'w2_weighted_count': 302.81663550047443,
   'w3_weighted_count': 279.77539579467367}},
 '17': {'GE': {'w1_weighted_count': 886.3075179318372,
   'w2_weighted_count': 902.6042195340441,
   'w3_weighted_count': 894.6570918335575},
  'IS': {'w1_weighted_count': 354.9600431920404,
   'w2_weighted_count': 53.908233117090745,
   'w3_weighted_count': 24.757232229276195},
  'NET': {'w1_weighted_count': 110.13400845239218,
   'w2_weighted_count': 48.009826936995694,
   'w3_weighted_count': 167.44801420197575},
  'VET': {'w1_weighted_count': 2006.4916094457371,
   'w2_weighted_count': 2353.3708994338767,
   'w3_weighted_count': 2271.0308407571974}},
 '18': {'GE': {'w1_weighted_count': 352.19309704585015,
   'w2_weighted_count': 365.4152034794003,
   'w3_weighted_count': 329.14700654515286},
  'IS': {'w1_weighted_count': 130.32824965723265,
   'w2_weighted_count': 24.398634387891185,
   'w3_weighted_count': 1.647097298393947},
  'NET': {'w1_weighted_count': 28.70698564889425,
   'w2_weighted_count': 9.850511445259544,
   'w3_weighted_count': 74.01481915028428},
  'VET': {'w1_weighted_count': 646.2485016053998,
   'w2_weighted_count': 757.812484644826,
   'w3_weighted_count': 752.6679109635459}},
 '19': {'GE': {'w1_weighted_count': 1001.1818079613769,
   'w2_weighted_count': 1001.1818079613769,
   'w3_weighted_count': 1001.1818079613769},
  'IS': {'w1_weighted_count': 605.916341015661,
   'w2_weighted_count': 170.5421199407179,
   'w3_weighted_count': 6.410991016844694},
  'NET': {'w1_weighted_count': 235.4011650608252,
   'w2_weighted_count': 84.11002751419163,
   'w3_weighted_count': 214.57743655916983},
  'VET': {'w1_weighted_count': 3175.056671222832,
   'w2_weighted_count': 3761.722029844408,
   'w3_weighted_count': 3795.3857497233034}},
 '20': {'GE': {'w1_weighted_count': 490.82185372454455,
   'w2_weighted_count': 523.8767503313395,
   'w3_weighted_count': 514.3706583283926},
  'IS': {'w1_weighted_count': 206.9327089594522,
   'w2_weighted_count': 45.496354192620046,
   'w3_weighted_count': 49.22803944477644},
  'NET': {'w1_weighted_count': 74.6682535097966,
   'w2_weighted_count': 51.62293811117384,
   'w3_weighted_count': 84.4337406962629},
  'VET': {'w1_weighted_count': 1096.4797795462798,
   'w2_weighted_count': 1247.90655310494,
   'w3_weighted_count': 1220.8701572706414}},
 '21': {'GE': {'w1_weighted_count': 1009.861174502055,
   'w2_weighted_count': 940.6183647726418,
   'w3_weighted_count': 897.7641271533173},
  'IS': {'w1_weighted_count': 83.76281725024512,
   'w2_weighted_count': 46.51051106387947,
   'w3_weighted_count': 37.737775492440065},
  'NET': {'w1_weighted_count': 92.94716078132791,
   'w2_weighted_count': 60.135852663333935,
   'w3_weighted_count': 84.54691505785944},
  'VET': {'w1_weighted_count': 1148.2108926157273,
   'w2_weighted_count': 1287.5173166495,
   'w3_weighted_count': 1314.7332274457385}},
 '22': {'GE': {'w1_weighted_count': 3952.1451015744187,
   'w2_weighted_count': 4435.270049462893,
   'w3_weighted_count': 4316.074099853451},
  'IS': {'w1_weighted_count': 1262.248429241928,
   'w2_weighted_count': 306.2452187089088,
   'w3_weighted_count': 208.27642388443013},
  'NET': {'w1_weighted_count': 608.9462734225974,
   'w2_weighted_count': 353.6441064065565,
   'w3_weighted_count': 221.38818894787227},
  'VET': {'w1_weighted_count': 1592.4983618496587,
   'w2_weighted_count': 2320.6787915102445,
   'w3_weighted_count': 2670.099453402849}},
 '23': {'GE': {'w1_weighted_count': 234.4778417002351,
   'w2_weighted_count': 233.85472678867905,
   'w3_weighted_count': 232.6458361808019},
  'IS': {'w1_weighted_count': 85.5711706401644,
   'w2_weighted_count': 26.981260037581308,
   'w3_weighted_count': 5.271168031905882},
  'NET': {'w1_weighted_count': 26.03640905863489,
   'w2_weighted_count': 23.69493164501853,
   'w3_weighted_count': 23.75861338227272},
  'VET': {'w1_weighted_count': 237.76087328492036,
   'w2_weighted_count': 299.31537621267586,
   'w3_weighted_count': 322.17067708897423}},
 '24': {'GE': {'w1_weighted_count': 562.5050955973527,
   'w2_weighted_count': 467.40047010692774,
   'w3_weighted_count': 451.238580690347},
  'IS': {'w1_weighted_count': 160.24749842711716,
   'w2_weighted_count': 70.69217402882695,
   'w3_weighted_count': 0.0},
  'NET': {'w1_weighted_count': 103.7193820666404,
   'w2_weighted_count': 56.925597466458846,
   'w3_weighted_count': 72.78036354478097},
  'VET': {'w1_weighted_count': 489.9015549103481,
   'w2_weighted_count': 721.3552893992451,
   'w3_weighted_count': 792.3545867663305}},
 '25': {'GE': {'w1_weighted_count': 2076.0767810253615,
   'w2_weighted_count': 2112.7477032671936,
   'w3_weighted_count': 1975.0319474400933},
  'IS': {'w1_weighted_count': 312.87364493080787,
   'w2_weighted_count': 84.33121849456198,
   'w3_weighted_count': 194.8179159535125},
  'NET': {'w1_weighted_count': 69.08252102977897,
   'w2_weighted_count': 113.157076208676,
   'w3_weighted_count': 117.78009233067822},
  'VET': {'w1_weighted_count': 633.6160283238174,
   'w2_weighted_count': 781.4129773393345,
   'w3_weighted_count': 804.0190195854819}},
 '26': {'GE': {'w1_weighted_count': 191.65613030075048,
   'w2_weighted_count': 197.02489793655616,
   'w3_weighted_count': 195.44390295171453},
  'IS': {'w1_weighted_count': 59.285507191653565,
   'w2_weighted_count': 24.40615471058988,
   'w3_weighted_count': 20.858338855896076},
  'NET': {'w1_weighted_count': 31.697980794968732,
   'w2_weighted_count': 28.97107903513324,
   'w3_weighted_count': 19.383485559055774},
  'VET': {'w1_weighted_count': 230.8107703322608,
   'w2_weighted_count': 263.0482569373542,
   'w3_weighted_count': 277.76466125296713}},
 '0': {'GE': {'w1_weighted_count': 19736.522800415492,
   'w2_weighted_count': 20369.315834258367,
   'w3_weighted_count': 19766.215089986646},
  'IS': {'w1_weighted_count': 8060.697995048095,
   'w2_weighted_count': 1814.2273084275535,
   'w3_weighted_count': 850.0823351885164},
  'NET': {'w1_weighted_count': 2281.9361920892447,
   'w2_weighted_count': 1438.9095729513606,
   'w3_weighted_count': 2630.4532862740757},
  'VET': {'w1_weighted_count': 26711.627508464735,
   'w2_weighted_count': 33168.331780380286,
   'w3_weighted_count': 33544.03378456833}}}

In [ ]:
sorted_by_wave = {}

# Iterate through each entry in the original dictionary
for key, categories in details.items():
    # Initialize the entry for each wave within this key
    sorted_by_wave[key] = {'w1': {}, 'w2': {}, 'w3': {}}

    # Now, populate the new structure with data
    for category, waves in categories.items():
        for wave, count in waves.items():
            sorted_by_wave[key][wave][category] = count

# Now sorted_by_wave is your dictionary sorted by wave
print(sorted_by_wave)

In [10]:
swiss_map = gpd.read_file('./geo-data/landesforstinventar-kantone_2056.geojson')

# Ensure the KantonId in GeoDataFrame is treated as a string if your details keys are strings
swiss_map['KantonId'] = swiss_map['KantonId'].astype(str)

# Merge the details into the GeoDataFrame
# This step adds a new column 'details' to the GeoDataFrame
swiss_map['details'] = swiss_map['KantonId'].map(details)

# Check the resulting GeoDataFrame
swiss_map.to_file('./geo-data/map_data.geojson', driver="GeoJSON")

swiss_map.head(5)

,KantonId,GeometrieId,KantonName_de,KantonName_fr,KantonName_it,KantonName_en,alternateName,geometry,details
0,1,1,Zrich,Zurich,Zurigo,Zurich,ZH,"POLYGON ((2692443.001 1281183.001, 2692994.001...",{'GE': {'w1_weighted_count': 2822.459832175372...
1,2,2,Bern,Berne,Berna,Bern,BE,"MULTIPOLYGON (((2573533.001 1194765.001, 25740...",{'GE': {'w1_weighted_count': 2234.584649055655...
2,3,3,Luzern,Lucerne,Lucerna,Lucerne,LU,"POLYGON ((2662029.001 1237691.001, 2662264.001...",{'GE': {'w1_weighted_count': 734.2253551947114...
3,4,4,Uri,Uri,Uri,Uri,UR,"POLYGON ((2688457.001 1203340.001, 2688740.001...",{'GE': {'w1_weighted_count': 34.61377670488978...
4,5,5,Schwyz,Schwytz,Svitto,Schwyz,SZ,"POLYGON ((2704723.001 1229925.001, 2706210.001...",{'GE': {'w1_weighted_count': 243.1135937638405...