In [1]:
!pip install geopandas

Requirement already satisfied: geopandas in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.14.4)
Requirement already satisfied: fiona>=1.8.21 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (1.9.6)
Requirement already satisfied: numpy>=1.22 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (1.26.4)
Requirement already satisfied: packaging in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (24.0)
Requirement already satisfied: pandas>=1.4.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (2.2.1)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (2.0.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (23.2.0)
Requirement already satisfied: certifi in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (2024.2.2)
Requirement already satisfied: click~=8.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: six in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: colorama in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from click~=8.0->fiona>=1.8.21->geopandas) (0.4.6)

In [2]:
import pandas as pd
import geopandas as gpd
import numpy as np
import json

def setEdj(df: pd.DataFrame, key) -> None :
    df.loc[df[key].isin(['5', '6', '7']), key] = 'VET'
    df.loc[df[key].isin(['8', '9']), key] = 'GE'
    df.loc[df[key].isin(['2', '3', '4']), key] = 'IS'
    df.loc[df[key].isin(['1']), key] = 'NET'

In [3]:
merged_df = pd.read_csv("./study-data/TREE2_Data_IWI_Open_Data_Vorlesung_2023_nolabel.csv")

merged_df = merged_df[merged_df['t1bqvalids'] != 'No valid response']
merged_df = merged_df[merged_df['t2bqvalids'] != 'No valid response']
merged_df = merged_df[merged_df['t3bqvalids'] != 'No valid response']

merged_df.dropna(inplace=True)
merged_df['t1educ_class_1_r'] = merged_df['t1educ_class_1_r'].astype(int).astype(str)
merged_df['t2educ_class_1_r'] = merged_df['t2educ_class_1_r'].astype(int).astype(str)
merged_df['t3educ_class_1_r'] = merged_df['t3educ_class_1_r'].astype(int).astype(str)


setEdj(merged_df, 't1educ_class_1_r')
setEdj(merged_df, 't2educ_class_1_r')
setEdj(merged_df, 't3educ_class_1_r')

cols = ['aes_canton', 'aes_langreg', 't1wt', 't2wt', 't3wt', 't1educ_class_1_r', 't2educ_class_1_r', 't3educ_class_1_r']

merged_df = merged_df[cols]
merged_df.fillna(0, inplace=True)

merged_df['aes_langreg'] = merged_df['aes_langreg'].replace(1, 'GR')
merged_df['aes_langreg'] = merged_df['aes_langreg'].replace(2, 'FR')
merged_df['aes_langreg'] = merged_df['aes_langreg'].replace(3, 'IT')

merged_df.head(20)

,aes_canton,aes_langreg,t1wt,t2wt,t3wt,t1educ_class_1_r,t2educ_class_1_r,t3educ_class_1_r
1,10,FR,4.959451,5.249187,4.995442,IS,VET,VET
3,11,GR,9.184840,9.340135,13.201428,VET,VET,NET
6,15,GR,0.612540,0.618889,0.562086,VET,VET,VET
7,10,GR,10.286020,14.506459,10.028031,VET,VET,VET
8,10,GR,2.655471,2.107327,2.090831,GE,GE,GE
10,25,FR,3.366786,3.206607,3.349368,GE,GE,GE
11,15,GR,0.662122,0.778710,0.708539,IS,VET,VET
12,25,FR,11.310630,9.486566,35.055328,IS,NET,NET
13,1,GR,17.446143,15.878919,16.129011,VET,VET,VET
15,17,GR,3.042590,2.854162,2.945887,GE,GE,GE
16,23,FR,2.054072,2.101752,1.676877,IS,IS,VET
20,13,GR,13.592860,10.138195,12.796247,VET,VET,VET
21,19,GR,12.848038,12.885117,14.439183,VET,VET,VET
25,2,GR,10.081531,13.252804,12.206690,VET,VET,VET
26,1,GR,7.350237,5.500166,6.817965,VET,VET,VET
28,22,FR,36.997857,31.026227,31.397761,NET,GE,GE
29,2,GR,10.149178,8.536685,11.132923,VET,VET,VET
33,20,GR,6.784402,6.204963,6.493370,GE,GE,GE
34,23,FR,0.699024,0.549799,0.704038,IS,VET,VET
36,26,FR,2.290582,2.007977,3.558899,IS,NET,NET

In [4]:
# Grouping data by canton and education type and calculating the weighted count
w1_cantons = merged_df.groupby(['aes_canton', 't1educ_class_1_r']).apply(
    lambda x: (x['t1wt']).sum()).reset_index(name='w1_edu')

w2_cantons = merged_df.groupby(['aes_canton', 't2educ_class_1_r']).apply(
    lambda x: (x['t1wt']).sum()).reset_index(name='w2_edu')

w3_cantons = merged_df.groupby(['aes_canton', 't3educ_class_1_r']).apply(
    lambda x: (x['t1wt']).sum()).reset_index(name='w3_edu')


w1_cantons = w1_cantons.rename(columns={'t1educ_class_1_r': 'education'})
w2_cantons = w2_cantons.rename(columns={'t2educ_class_1_r': 'education'})
w3_cantons = w3_cantons.rename(columns={'t3educ_class_1_r': 'education'})


edu_count = pd.merge(w1_cantons, w2_cantons, on=['aes_canton', 'education'], how='outer')
edu_count = pd.merge(edu_count, w3_cantons, on=['aes_canton', 'education'], how='outer')

#merged_df.set_index('education', inplace=True)
edu_count.head(20)

C:\Users\CptMeh\AppData\Local\Temp\ipykernel_6284\2770027761.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  w1_cantons = merged_df.groupby(['aes_canton', 't1educ_class_1_r']).apply(
C:\Users\CptMeh\AppData\Local\Temp\ipykernel_6284\2770027761.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  w2_cantons = merged_df.groupby(['aes_canton', 't2educ_class_1_r']).apply(
C:\Users\CptMeh\AppData\Local\Temp\ipykernel_6284\2770027761.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  w3_cantons = merged_df.groupby(['aes_canton', 't3educ_class_1_r']).apply(

    aes_canton education       w1_edu       w2_edu       w3_edu
0            1        GE  2822.459832  2875.675016  2792.182829
1            1        IS  1717.171951   330.527861   114.166294
2            1       NET   340.946749   165.893318   493.385885
3            1       VET  4949.327069  6457.809406  6430.170593
4            2        GE  2234.584649  2285.406745  2264.229984
5            2        IS  1346.252183   183.111332    81.462125
6            2       NET   123.627758   106.999650   208.084862
7            2       VET  3442.092653  4571.039517  4592.780272
8            3        GE   734.225355   786.724219   761.738568
9            3        IS   313.620559    87.777121    24.908537
10           3       NET   126.871835    75.947697   236.039996
11           3       VET  1621.679287  1845.947998  1773.709935
12           4        GE    34.613777    34.613777    32.796956
13           4        IS     8.090224          NaN     5.293744
14           4       NET          NaN          NaN     1.042836
15           4       VET   144.538264   152.628488   148.108728
16           5        GE   243.113594   211.152403   208.679976
17           5        IS    71.514109    38.603924    16.261528
18           5       NET     9.083110    50.750639   107.930679
19           5       VET   641.012637   664.216482   631.851266

In [5]:
# TODO: df.to_html('./test.html')

In [6]:
'''
Summarise the columns w1_weighted_count, w2_weighted_count, and w3_weighted_count across all aes_canton for each education category, 
and then append these summaries back to your original DataFrame.
'''

summary_df = edu_count.groupby('education').sum().reset_index()
summary_df.drop('aes_canton', axis=1, inplace=True)
summary_df['aes_canton'] = 'summary'
final_df = pd.concat([edu_count, summary_df], ignore_index=True)
final_df.fillna(0.0, inplace=True)

group_sums = final_df.groupby('aes_canton')[['w1_edu', 'w2_edu', 'w3_edu']].transform('sum')

# Convert each column to a percentage of its total
final_df['w1_edu'] = ((final_df['w1_edu'] / group_sums['w1_edu']) * 100).round(1)
final_df['w2_edu'] = ((final_df['w2_edu'] / group_sums['w2_edu']) * 100).round(1)
final_df['w3_edu'] = ((final_df['w3_edu'] / group_sums['w3_edu']) * 100).round(1)


final_df.to_csv('./study-data/currated_data.csv')
final_df.head(20)

   aes_canton education  w1_edu  w2_edu  w3_edu
0           1        GE   28.71   29.25   28.40
1           1        IS   17.47    3.36    1.16
2           1       NET    3.47    1.69    5.02
3           1       VET   50.35   65.70   65.41
4           2        GE   31.27   31.98   31.68
5           2        IS   18.84    2.56    1.14
6           2       NET    1.73    1.50    2.91
7           2       VET   48.16   63.96   64.27
8           3        GE   26.26   28.13   27.24
9           3        IS   11.22    3.14    0.89
10          3       NET    4.54    2.72    8.44
11          3       VET   57.99   66.01   63.43
12          4        GE   18.49   18.49   17.52
13          4        IS    4.32    0.00    2.83
14          4       NET    0.00    0.00    0.56
15          4       VET   77.19   81.51   79.10
16          5        GE   25.20   21.89   21.63
17          5        IS    7.41    4.00    1.69
18          5       NET    0.94    5.26   11.19
19          5       VET   66.45   68.85   65.50

In [7]:
multi_index_df = final_df.set_index(['aes_canton', 'education'])
multi_index_df.to_csv('./study-data/currated_data.csv')
multi_index_df.loc[(4, 'IS')]

w1_edu    4.32
w2_edu    0.00
w3_edu    2.83
Name: (4, IS), dtype: float64

In [8]:
details = {}
for canton_id in multi_index_df.index.get_level_values('aes_canton').unique():
    canton_details = {}
    for edu_level in multi_index_df.xs(canton_id, level='aes_canton').index:
        canton_details[edu_level] = {
            'w1_edu': multi_index_df.loc[(canton_id, edu_level), 'w1_edu'],
            'w2_edu': multi_index_df.loc[(canton_id, edu_level), 'w2_edu'],
            'w3_edu': multi_index_df.loc[(canton_id, edu_level), 'w3_edu']
        }
    details[str(canton_id)] = canton_details


details

{'1': {'GE': {'w1_edu': 28.71, 'w2_edu': 29.25, 'w3_edu': 28.4},
  'IS': {'w1_edu': 17.47, 'w2_edu': 3.36, 'w3_edu': 1.16},
  'NET': {'w1_edu': 3.47, 'w2_edu': 1.69, 'w3_edu': 5.02},
  'VET': {'w1_edu': 50.35, 'w2_edu': 65.7, 'w3_edu': 65.41}},
 '2': {'GE': {'w1_edu': 31.27, 'w2_edu': 31.98, 'w3_edu': 31.68},
  'IS': {'w1_edu': 18.84, 'w2_edu': 2.56, 'w3_edu': 1.14},
  'NET': {'w1_edu': 1.73, 'w2_edu': 1.5, 'w3_edu': 2.91},
  'VET': {'w1_edu': 48.16, 'w2_edu': 63.96, 'w3_edu': 64.27}},
 '3': {'GE': {'w1_edu': 26.26, 'w2_edu': 28.13, 'w3_edu': 27.24},
  'IS': {'w1_edu': 11.22, 'w2_edu': 3.14, 'w3_edu': 0.89},
  'NET': {'w1_edu': 4.54, 'w2_edu': 2.72, 'w3_edu': 8.44},
  'VET': {'w1_edu': 57.99, 'w2_edu': 66.01, 'w3_edu': 63.43}},
 '4': {'GE': {'w1_edu': 18.49, 'w2_edu': 18.49, 'w3_edu': 17.52},
  'IS': {'w1_edu': 4.32, 'w2_edu': 0.0, 'w3_edu': 2.83},
  'NET': {'w1_edu': 0.0, 'w2_edu': 0.0, 'w3_edu': 0.56},
  'VET': {'w1_edu': 77.19, 'w2_edu': 81.51, 'w3_edu': 79.1}},
 '5': {'GE': {'w1_edu': 25.2, 'w2_edu': 21.89, 'w3_edu': 21.63},
  'IS': {'w1_edu': 7.41, 'w2_edu': 4.0, 'w3_edu': 1.69},
  'NET': {'w1_edu': 0.94, 'w2_edu': 5.26, 'w3_edu': 11.19},
  'VET': {'w1_edu': 66.45, 'w2_edu': 68.85, 'w3_edu': 65.5}},
 '6': {'GE': {'w1_edu': 24.57, 'w2_edu': 23.95, 'w3_edu': 22.95},
  'IS': {'w1_edu': 15.86, 'w2_edu': 4.11, 'w3_edu': 0.62},
  'NET': {'w1_edu': 1.59, 'w2_edu': 0.0, 'w3_edu': 7.17},
  'VET': {'w1_edu': 57.99, 'w2_edu': 71.94, 'w3_edu': 69.26}},
 '7': {'GE': {'w1_edu': 21.38, 'w2_edu': 21.4, 'w3_edu': 21.58},
  'IS': {'w1_edu': 4.85, 'w2_edu': 1.58, 'w3_edu': 0.45},
  'NET': {'w1_edu': 2.15, 'w2_edu': 2.9, 'w3_edu': 3.9},
  'VET': {'w1_edu': 71.62, 'w2_edu': 74.12, 'w3_edu': 74.07}},
 '8': {'GE': {'w1_edu': 1.57, 'w2_edu': 1.66, 'w3_edu': 1.44},
  'IS': {'w1_edu': 0.82, 'w2_edu': 0.05, 'w3_edu': 0.0},
  'NET': {'w1_edu': 0.03, 'w2_edu': 0.15, 'w3_edu': 0.64},
  'VET': {'w1_edu': 97.58, 'w2_edu': 98.14, 'w3_edu': 97.93}},
 '9': {'GE': {'w1_edu': 27.65, 'w2_edu': 27.96, 'w3_edu': 27.67},
  'IS': {'w1_edu': 16.07, 'w2_edu': 1.04, 'w3_edu': 1.17},
  'NET': {'w1_edu': 3.86, 'w2_edu': 2.65, 'w3_edu': 11.56},
  'VET': {'w1_edu': 52.42, 'w2_edu': 68.35, 'w3_edu': 59.6}},
 '10': {'GE': {'w1_edu': 34.86, 'w2_edu': 37.98, 'w3_edu': 37.42},
  'IS': {'w1_edu': 19.94, 'w2_edu': 4.83, 'w3_edu': 0.98},
  'NET': {'w1_edu': 5.75, 'w2_edu': 3.23, 'w3_edu': 3.59},
  'VET': {'w1_edu': 39.44, 'w2_edu': 53.96, 'w3_edu': 58.01}},
 '11': {'GE': {'w1_edu': 27.27, 'w2_edu': 27.53, 'w3_edu': 26.51},
  'IS': {'w1_edu': 7.35, 'w2_edu': 0.95, 'w3_edu': 0.53},
  'NET': {'w1_edu': 1.6, 'w2_edu': 1.02, 'w3_edu': 4.72},
  'VET': {'w1_edu': 63.78, 'w2_edu': 70.49, 'w3_edu': 68.24}},
 '12': {'GE': {'w1_edu': 50.25, 'w2_edu': 52.28, 'w3_edu': 48.52},
  'IS': {'w1_edu': 22.02, 'w2_edu': 9.1, 'w3_edu': 0.0},
  'NET': {'w1_edu': 2.05, 'w2_edu': 2.13, 'w3_edu': 12.3},
  'VET': {'w1_edu': 25.68, 'w2_edu': 36.49, 'w3_edu': 39.19}},
 '13': {'GE': {'w1_edu': 36.99, 'w2_edu': 35.97, 'w3_edu': 35.19},
  'IS': {'w1_edu': 16.27, 'w2_edu': 3.6, 'w3_edu': 0.72},
  'NET': {'w1_edu': 1.26, 'w2_edu': 1.99, 'w3_edu': 1.45},
  'VET': {'w1_edu': 45.48, 'w2_edu': 58.44, 'w3_edu': 62.65}},
 '14': {'GE': {'w1_edu': 23.22, 'w2_edu': 23.74, 'w3_edu': 22.71},
  'IS': {'w1_edu': 6.04, 'w2_edu': 0.93, 'w3_edu': 0.0},
  'NET': {'w1_edu': 10.43, 'w2_edu': 6.35, 'w3_edu': 10.33},
  'VET': {'w1_edu': 60.3, 'w2_edu': 68.99, 'w3_edu': 66.96}},
 '15': {'GE': {'w1_edu': 19.93, 'w2_edu': 20.2, 'w3_edu': 12.29},
  'IS': {'w1_edu': 7.99, 'w2_edu': 4.64, 'w3_edu': 0.66},
  'NET': {'w1_edu': 2.51, 'w2_edu': 1.22, 'w3_edu': 9.75},
  'VET': {'w1_edu': 69.56, 'w2_edu': 73.94, 'w3_edu': 77.3}},
 '16': {'GE': {'w1_edu': 9.1, 'w2_edu': 9.1, 'w3_edu': 9.1},
  'IS': {'w1_edu': 4.55, 'w2_edu': 1.33, 'w3_edu': 0.0},
  'NET': {'w1_edu': 0.0, 'w2_edu': 0.0, 'w3_edu': 8.15},
  'VET': {'w1_edu': 86.35, 'w2_edu': 89.57, 'w3_edu': 82.76}},
 '17': {'GE': {'w1_edu': 26.39, 'w2_edu': 26.88, 'w3_edu': 26.64},
  'IS': {'w1_edu': 10.57, 'w2_edu': 1.61, 'w3_edu': 0.74},
  'NET': {'w1_edu': 3.28, 'w2_edu': 1.43, 'w3_edu': 4.99},
  'VET': {'w1_edu': 59.75, 'w2_edu': 70.08, 'w3_edu': 67.63}},
 '18': {'GE': {'w1_edu': 30.43, 'w2_edu': 31.57, 'w3_edu': 28.44},
  'IS': {'w1_edu': 11.26, 'w2_edu': 2.11, 'w3_edu': 0.14},
  'NET': {'w1_edu': 2.48, 'w2_edu': 0.85, 'w3_edu': 6.39},
  'VET': {'w1_edu': 55.83, 'w2_edu': 65.47, 'w3_edu': 65.03}},
 '19': {'GE': {'w1_edu': 19.95, 'w2_edu': 19.95, 'w3_edu': 19.95},
  'IS': {'w1_edu': 12.08, 'w2_edu': 3.4, 'w3_edu': 0.13},
  'NET': {'w1_edu': 4.69, 'w2_edu': 1.68, 'w3_edu': 4.28},
  'VET': {'w1_edu': 63.28, 'w2_edu': 74.97, 'w3_edu': 75.64}},
 '20': {'GE': {'w1_edu': 26.26, 'w2_edu': 28.03, 'w3_edu': 27.52},
  'IS': {'w1_edu': 11.07, 'w2_edu': 2.43, 'w3_edu': 2.63},
  'NET': {'w1_edu': 4.0, 'w2_edu': 2.76, 'w3_edu': 4.52},
  'VET': {'w1_edu': 58.67, 'w2_edu': 66.77, 'w3_edu': 65.33}},
 '21': {'GE': {'w1_edu': 43.25, 'w2_edu': 40.29, 'w3_edu': 38.45},
  'IS': {'w1_edu': 3.59, 'w2_edu': 1.99, 'w3_edu': 1.62},
  'NET': {'w1_edu': 3.98, 'w2_edu': 2.58, 'w3_edu': 3.62},
  'VET': {'w1_edu': 49.18, 'w2_edu': 55.15, 'w3_edu': 56.31}},
 '22': {'GE': {'w1_edu': 53.29, 'w2_edu': 59.81, 'w3_edu': 58.2},
  'IS': {'w1_edu': 17.02, 'w2_edu': 4.13, 'w3_edu': 2.81},
  'NET': {'w1_edu': 8.21, 'w2_edu': 4.77, 'w3_edu': 2.99},
  'VET': {'w1_edu': 21.47, 'w2_edu': 31.29, 'w3_edu': 36.01}},
 '23': {'GE': {'w1_edu': 40.16, 'w2_edu': 40.05, 'w3_edu': 39.85},
  'IS': {'w1_edu': 14.66, 'w2_edu': 4.62, 'w3_edu': 0.9},
  'NET': {'w1_edu': 4.46, 'w2_edu': 4.06, 'w3_edu': 4.07},
  'VET': {'w1_edu': 40.72, 'w2_edu': 51.27, 'w3_edu': 55.18}},
 '24': {'GE': {'w1_edu': 42.73, 'w2_edu': 35.51, 'w3_edu': 34.28},
  'IS': {'w1_edu': 12.17, 'w2_edu': 5.37, 'w3_edu': 0.0},
  'NET': {'w1_edu': 7.88, 'w2_edu': 4.32, 'w3_edu': 5.53},
  'VET': {'w1_edu': 37.22, 'w2_edu': 54.8, 'w3_edu': 60.19}},
 '25': {'GE': {'w1_edu': 67.15, 'w2_edu': 68.34, 'w3_edu': 63.88},
  'IS': {'w1_edu': 10.12, 'w2_edu': 2.73, 'w3_edu': 6.3},
  'NET': {'w1_edu': 2.23, 'w2_edu': 3.66, 'w3_edu': 3.81},
  'VET': {'w1_edu': 20.49, 'w2_edu': 25.27, 'w3_edu': 26.01}},
 '26': {'GE': {'w1_edu': 37.33, 'w2_edu': 38.37, 'w3_edu': 38.06},
  'IS': {'w1_edu': 11.55, 'w2_edu': 4.75, 'w3_edu': 4.06},
  'NET': {'w1_edu': 6.17, 'w2_edu': 5.64, 'w3_edu': 3.78},
  'VET': {'w1_edu': 44.95, 'w2_edu': 51.23, 'w3_edu': 54.1}},
 'summary': {'GE': {'w1_edu': 34.75, 'w2_edu': 35.87, 'w3_edu': 34.81},
  'IS': {'w1_edu': 14.19, 'w2_edu': 3.19, 'w3_edu': 1.5},
  'NET': {'w1_edu': 4.02, 'w2_edu': 2.53, 'w3_edu': 4.63},
  'VET': {'w1_edu': 47.04, 'w2_edu': 58.4, 'w3_edu': 59.07}}}

In [9]:
sorted_by_wave = {}

# Iterate through each entry in the original dictionary
for key, categories in details.items():
    # Initialize the entry for each wave within this key
    sorted_by_wave[key] = {'w1_edu': {}, 'w2_edu': {}, 'w3_edu': {}}

    # Now, populate the new structure with data
    for category, waves in categories.items():
        for wave, count in waves.items():
            sorted_by_wave[key][wave][category] = count

# Now sorted_by_wave is your dictionary sorted by wave
details = sorted_by_wave

In [10]:
total = len(merged_df['aes_langreg'])

details['summary']['GR'] = (merged_df[merged_df['aes_langreg'] == 'GR'].count()[0] / total * 100).round(1)
details['summary']['FR'] = (merged_df[merged_df['aes_langreg'] == 'FR'].count()[0] / total * 100).round(1)
details['summary']['IT'] = (merged_df[merged_df['aes_langreg'] == 'IT'].count()[0] / total * 100).round(1)
details['summary']

C:\Users\CptMeh\AppData\Local\Temp\ipykernel_6284\1106159120.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  details['summary']['GR'] = (merged_df[merged_df['aes_langreg'] == 'GR'].count()[0] / total * 100).round(2)
C:\Users\CptMeh\AppData\Local\Temp\ipykernel_6284\1106159120.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  details['summary']['FR'] = (merged_df[merged_df['aes_langreg'] == 'FR'].count()[0] / total * 100).round(2)
C:\Users\CptMeh\AppData\Local\Temp\ipykernel_6284\1106159120.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  details['summary']['IT'] = (merged_df[merged_df['aes_langreg'] == 'IT'].count()[0] / total * 100).round(2)

{'w1_edu': {'GE': 34.75, 'IS': 14.19, 'NET': 4.02, 'VET': 47.04},
 'w2_edu': {'GE': 35.87, 'IS': 3.19, 'NET': 2.53, 'VET': 58.4},
 'w3_edu': {'GE': 34.81, 'IS': 1.5, 'NET': 4.63, 'VET': 59.07},
 'GR': 69.17,
 'FR': 25.33,
 'IT': 5.5}

In [11]:
details['summary']['GR']

69.17

In [12]:

tot_lang = details['summary']['GR'] + details['summary']['FR'] + details['summary']['IT']

summary = { 'w1_edu' : {'w1_ge' : details['summary']['w1_edu']['GE'],
                    'w1_is' : details['summary']['w1_edu']['IS'],
                    'w1_vet' : details['summary']['w1_edu']['VET'],
                    'w1_net' : details['summary']['w1_edu']['NET']},

            'w2_edu' : {'w2_ge' : details['summary']['w2_edu']['GE'],
                    'w2_is' : details['summary']['w2_edu']['IS'],
                    'w2_vet' : details['summary']['w2_edu']['VET'],
                    'w2_net' : details['summary']['w2_edu']['NET']},

            'w3_edu' : {'w3_ge' : details['summary']['w3_edu']['GE'],
                    'w3_is' : details['summary']['w3_edu']['IS'],
                    'w3_vet' : details['summary']['w3_edu']['VET'],
                    'w3_net' : details['summary']['w3_edu']['NET']},

            'lang': {'GR' : details['summary']['GR'],
                    'FR' : details['summary']['FR'],     
                    'IT' : details['summary']['IT']}}



with open('./study-data/summary.json', 'w') as file:
    json.dump(summary, file, indent=4)

In [13]:
!pip install geopandas

Requirement already satisfied: geopandas in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.14.4)
Requirement already satisfied: fiona>=1.8.21 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (1.9.6)
Requirement already satisfied: numpy>=1.22 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (1.26.4)
Requirement already satisfied: packaging in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (24.0)
Requirement already satisfied: pandas>=1.4.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (2.2.1)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (2.0.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (23.2.0)
Requirement already satisfied: certifi in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (2024.2.2)
Requirement already satisfied: click~=8.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: six in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: colorama in c:\users\cptmeh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from click~=8.0->fiona>=1.8.21->geopandas) (0.4.6)

In [14]:
swiss_map = gpd.read_file('./geo-data/landesforstinventar-kantone_2056.geojson')

# Ensure the KantonId in GeoDataFrame is treated as a string if your details keys are strings
swiss_map['KantonId'] = swiss_map['KantonId'].astype(str)

# Merge the details into the GeoDataFrame
# This step adds a new column 'details' to the GeoDataFrame
swiss_map['details'] = swiss_map['KantonId'].map(details)

# Check the resulting GeoDataFrame
swiss_map.to_file('./geo-data/map_data.geojson', driver="GeoJSON")

swiss_map.head(5)

,KantonId,GeometrieId,KantonName_de,KantonName_fr,KantonName_it,KantonName_en,alternateName,geometry,details
0,1,1,Zrich,Zurich,Zurigo,Zurich,ZH,"POLYGON ((2692443.001 1281183.001, 2692994.001...","{'w1_edu': {'GE': 28.71, 'IS': 17.47, 'NET': 3..."
1,2,2,Bern,Berne,Berna,Bern,BE,"MULTIPOLYGON (((2573533.001 1194765.001, 25740...","{'w1_edu': {'GE': 31.27, 'IS': 18.84, 'NET': 1..."
2,3,3,Luzern,Lucerne,Lucerna,Lucerne,LU,"POLYGON ((2662029.001 1237691.001, 2662264.001...","{'w1_edu': {'GE': 26.26, 'IS': 11.22, 'NET': 4..."
3,4,4,Uri,Uri,Uri,Uri,UR,"POLYGON ((2688457.001 1203340.001, 2688740.001...","{'w1_edu': {'GE': 18.49, 'IS': 4.32, 'NET': 0...."
4,5,5,Schwyz,Schwytz,Svitto,Schwyz,SZ,"POLYGON ((2704723.001 1229925.001, 2706210.001...","{'w1_edu': {'GE': 25.2, 'IS': 7.41, 'NET': 0.9..."